
<!DOCTYPE html>

<html lang="zh_CN">


    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
                <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title>    个人中心
-08CMS房产门户系统[主站]</title>
                <meta name="keywords" content="" />
        <meta name="description" content="" />
                        <link rel="icon" sizes="16x16" href="http://cms.zhuge.com/favicon.ico" />
                
                <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
                                <script>
            var url_isApp              = 1;
            var csrf_token             = "rdhEPk1ddGoTK6fZBlL0ZkjGnJkNludX4BZ9NrdoD_M";
            var jsbase                 = "../";
            var BASE_URL               = "http://cms.zhuge.com";
            var BASE_THEME             = "house";
            // window.UEDITOR_HOME_URL = "/bundles/core/js/vendor/ueditor/";
            var REMOTE_URL             = ""; // 远程图片路径拼接
        </script>
                    <link rel="stylesheet" href="../housemobile/css/sm.css?v=2017-10-26" />
            <link rel="stylesheet" href="../housemobile/css/m.css?v=2017-10-26" />
                        <script type="text/javascript" src="../housemobile/js/seajs.js"></script>
        <script type="text/javascript">
            // 试调使用方案2，上线使用方案1
            /* 方案1 */
            //             //     var crossDomain = true;
            //             /* 方案2 */
            var crossDomain = false;

            seajs.use([
                'sm',
                'touch',
                'fx', 
                'common'
            ], function (sm, touch, fx, common) {
                $.config = {router: false};
                // 详情页面的统计
                /*common.dcounts({
                    url: 'igetcounts/detailcounts'
                });*/
                common.getcounts({
                    url: 'http://cms.zhuge.com/manage/igetcounts/index'
                })
                common.toTop();
                // ajax调用内容
                common.block('[data-block]');

                common.adcount({
                    saveUrl : 'http://cms.zhuge.com/manage/viewinter/vote'
                });

            });
            
        </script>

    </head>
    <body>
                <div class="page-group">
        <div class="page page-current">
                                                                                                            <header class="bar bar-nav bar-op">
                                                    <a         
     href="javascript:;" class="button button-link button-nav    pull-left back" ><span class="icon font-f-10"></span></a>
                                                                                                        
            <a         
     href="javascript:;" class="button button-link button-nav pull-right button-ver open-popup " data-title="频道导航"data-popup=".popup-major-nav">        <span class="icon font-f-47"></span>
    导航</a>
        
                                             </header>
                                                                	<div data-block="{
        bParams: true,
        ajax:{
            url: 'http://cms.zhuge.com/manage/bundlebindforms/ajax',
            data: {
                id: '',
                tpl: 'Main:mindexblock'
            }
        }
    }"></div>
                                                    <div data-to-top="1" class="toTop">
                        <span class="icon icon-up"></span>
                    </div>
                                    </div>
                                                


<div class="popup popup-major-nav ">
    <header class="bar bar-nav">
        <a         
     href="javascript:;" class="button button-link button-nav    pull-right close-popup" ><span class="icon font-f-21"></span></a>
        <h1 class="title ">频道导航</h1>
    </header>
            <div class="content">
            <div class="list-block media-list mobile-dh list-block-m0">
    <ul>
        <li class="item-content item-link">
            <div class="item-inner">
                <div class="item-title-row">
                    <a href="../manage/index/index.html" class="item-title item-title-p0">
                        <img alt="08CMS房产门户系统[主站]" style="display: inherit;" width="140" height="20" src="http://cms.zhuge.com/bundles/house/images/nopic.gif"/>
                    </a>
                    <a href="../manage/main/mindex.html" class="item-after " style="line-height: 28px;">
                        个人中心
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="list-block panel-block menu-block"></div>
    <div class="list-block panel-block">
        <div class="row no-gutter">
            <a href="../manage/index/index.html" data-title="index/index" class="col-25">
            <i class="icon font-f-2 m-ico-color0"></i>
            <p>
                首页
            </p>
        </a>
            <a href="../houses/list.html" data-title="houses/list" class="col-25">
            <i class="icon font-f-48 m-ico-color1"></i>
            <p>
                新房
            </p>
        </a>
            <a href="../sale/list.html" data-title="sale/list" class="col-25">
            <i class="icon font-f-2 m-ico-color2"></i>
            <p>
                二手房
            </p>
        </a>
            <a href="../rent/list.html" data-title="rent/list" class="col-25">
            <i class="icon font-f-68 m-ico-color3"></i>
            <p>
                出租
            </p>
        </a>
            <a href="../business/list.html" data-title="business/list" class="col-25">
            <i class="icon font-f-48 m-ico-color4"></i>
            <p>
                商业地产
            </p>
        </a>
            <a href="../houses/cfj.html" data-title="houses/cfj" class="col-25">
            <i class="icon font-f-89 m-ico-color5"></i>
            <p>
                查房价
            </p>
        </a>
            <a href="../sale/xqlist.html" data-title="sale/xqlist" class="col-25">
            <i class="icon font-f-49 m-ico-color6"></i>
            <p>
                小区
            </p>
        </a>
            <a href="../sale/xlist.html" data-title="sale/xlist" class="col-25">
            <i class="icon font-f-90 m-ico-color7"></i>
            <p>
                学区房
            </p>
        </a>
            <a href="../news/list.html" data-title="news/list" class="col-25">
            <i class="icon font-f-23 m-ico-color8"></i>
            <p>
                资讯
            </p>
        </a>
            <a href="../manage/map/index.html" data-title="map/index" class="col-25">
            <i class="icon font-f-18 m-ico-color9"></i>
            <p>
                地图找房
            </p>
        </a>
            <a href="../manage/map/location.html" data-title="map/location" class="col-25">
            <i class="icon font-f-48 m-ico-color10"></i>
            <p>
                附近找房
            </p>
        </a>
            <a href="../topic/group.html" data-title="topic/group" class="col-25">
            <i class="icon font-f-91 m-ico-color11"></i>
            <p>
                看房团
            </p>
        </a>
            <a href="../photos/list.html" data-title="photos/list" class="col-25">
            <i class="icon font-f-76 m-ico-color12"></i>
            <p>
                图库
            </p>
        </a>
            <a href="../video/list.html" data-title="video/list" class="col-25">
            <i class="icon font-f-78 m-ico-color13"></i>
            <p>
                视频
            </p>
        </a>
            <a href="../ask/list.html" data-title="ask/list" class="col-25">
            <i class="icon font-f-77 m-ico-color14"></i>
            <p>
                问答
            </p>
        </a>
            <a href="../fenxiao/list.html" data-title="fenxiao/list" class="col-25">
            <i class="icon font-f-56 m-ico-color15"></i>
            <p>
                分销
            </p>
        </a>
            <a href="../groupbuy/list.html" data-title="groupbuy/list" class="col-25">
            <i class="icon font-f-51 m-ico-color16"></i>
            <p>
                团购
            </p>
        </a>
            <a href="../service/list.html" data-title="service/list" class="col-25">
            <i class="icon font-f-85 m-ico-color17"></i>
            <p>
                服务中心
            </p>
        </a>
            <a href="../service/ask.html" data-title="service/ask" class="col-25">
            <i class="icon font-f-4 m-ico-color18"></i>
            <p>
                在线提问
            </p>
        </a>
            <a href="../manage/tools/index.html" data-title="tools/index" class="col-25">
            <i class="icon font-f-92 m-ico-color19"></i>
            <p>
                购房工具
            </p>
        </a>
            <a href="http://bbs.08cms.com" data-title="http://bbs.08cms.com" class="col-25">
            <i class="icon font-f-39 m-ico-color20"></i>
            <p>
                论坛
            </p>
        </a>
            </div>
    </div>

<script id="menus" type="text/template">

// <div class="row no-gutter">
//     <% for (var i=0; i<data.length; i++) { %>
//         <a href="<%= data[i].url %>" data-title="<%= data[i].name %>" class="col-25">
//             <i class="icon <%= data[i].icon %> m-ico-color<%= i %>"></i>
//             <p>
//                 <%= data[i].name %>
//             </p>
//      </a>
//     <% } %>
// </div>
</script>


        </div>
</div>


                                                                                    
            
<div class="popup popup-search ">
    <header class="bar bar-nav">
        <a         
     href="javascript:;" class="button button-link button-nav    pull-right close-popup" ><span class="icon font-f-21"></span></a>
        <h1 class="title ">搜索</h1>
    </header>
        <div class="bar bar-header-secondary">
                    <form action="" class="form">
                <div class="searchbar row">
                    <div class="search-input">
                        <input type="search" id='search' name="name" required="required" placeholder="输入关键字..." />
                    </div>
                    <a data-role="search" data-config="{tpl:'#history', list: '.search-list', listItem: '.search-item',text: '.text', clearBtn: '[data-clear]', size: 10}" class="button button-fill button-primary col-15 sousuo" href="javascript:;">
                        <span class="icon icon-search"></span>
                    </a>
                </div>
            </form>
            
    </div>
            <div class="content">
                        <div class="list-block list-block-search">
                <div class="list-group">
                    <ul>
                        <li class="list-group-title">热门搜索</li>
                        <li class="item-content">
                                </li>
                    </ul>
                </div>
                <div class="list-group">
                    <ul>
                        <li class="list-group-title"><span data-clear="1" class="pull-right font-f-11"></span>历史搜索</li>
                        <div class="search-list">
                           
                        </div>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                seajs.use(['search'], function() {
                    $('.popup-search').on('opened', function() {
                        var $this = $(this);
                        var btnData = $($this.data('btn')).data();

                        btnData.title && $this.find('.title ').text(btnData.title);
                        btnData.placeholder && $this.find('[type="search"]').attr('placeholder', btnData.placeholder);
                    })
                })    
            </script>
            <script id="history" type="text/html">
            <% for(var i = 0; i < data.length; i++){ %>
                <li class="item-content search-item">
                    <div class="item-inner">
                        <div class="item-title item-title-p0">
                            <span class="icon font-f-13"></span>
                            <span class="text"><%= data[i] %> </span>
                        </div>
                    </div>
                </li>
            <% } %>  
            </script>
            
        </div>
</div>

        
                	
<div class="popup popup-pay ">
    <header class="bar bar-nav">
        <a         
     href="javascript:;" class="button button-link button-nav    pull-right close-popup" ><span class="icon font-f-21"></span></a>
        <h1 class="title ">充值</h1>
    </header>
            <div class="content">
            <div class="popup-block" data-block-popup-pay="1"></div>
        </div>
</div>
<script type="text/javascript">
    seajs.use(['common'], function(common) {
        $('.popup-pay')
            .off('opened')
            .on('opened', function() {
                var $this = $(this);
                $this.find('.title').text(function(i, v) {
                    return $($this.data('btn')).data('title') || v;
                })
            })
            .one('opened', function() {
                // ajax调用内容
                common.block('[data-block-popup-pay]', {"bParams":true,"ajax":{"url":"http:\/\/cms.zhuge.com\/manage\/main\/mindex","data":{"tpl":"Main:pay"}}});
            })
    })
</script>  


                <!-- 侧栏部分 -->
            </div>
        <script type="text/javascript">
    seajs.use(['common'], function() {
    });
    </script>

    
    <div data-gotop="1" class="return-top" style="display: none;">
        <i class="font-icons-33"></i>
    </div>
            

        </body>
</html>
