{% extends 'HousemobileBundle::base_ajax.html.twig' %}
{%- block result -%}
<div class="popup popup-search">
    <header class="bar bar-nav">
        {{core_mobile_global.bar_nav_btn({
            class: 'close-popup', 
            href: 'javascript:;',
            icon: 'font-f-21'
        })}}
        {{core_mobile_global.title({title: '', class: 'search-popup'})}}
    </header>
    <div class="bar bar-header-secondary">
        <form action="{{ search_action|default(app.request.get('appaction')) }}" class="form">
          <div class="searchbar row">
              <div class="search-input">
                  <input type="search" id='search' name="name" required="required" placeholder="输入关键字..." />
              </div>
              <a data-role="search" data-config="{tpl:'#history', list: '.search-list', listItem: '.search-item',text: '.text', clearBtn: '[data-clear]', size: 10}" class="button button-fill button-primary col-15 sousuo" href="javascript:;">
                  <span class="icon icon-search"></span>
              </a>
          </div>
        </form>
    </div>
    <div class="content">
        <div class="list-block list-block-search">
            <div class="list-group">
                <ul>
                    <li class="list-group-title">热门搜索</li>
                    <li class="item-content">
                        {% set hotKeys = ('mobilehotkey')|getPush(3) %}
                        {{- housemobile_global.searchHot({data: hotKeys}) -}}
                    </li>
                </ul>
            </div>
            <div class="list-group">
                <ul>
                    <li class="list-group-title"><span data-clear="1" class="pull-right font-f-11"></span>历史搜索</li>
                    <div class="search-list">
                       
                    </div>
                    
                    
                </ul>
            </div>
        </div>
    </div>
</div>

<script id="history" type="text/html">
<% for(var i = 0; i < data.length; i++){ %>
    <li class="item-content search-item">
        <div class="item-inner">
            <div class="item-title item-title-p0">
                <span class="icon font-f-13"></span>
                <span class="text"><%= data[i] %> </span>
            </div>
        </div>
    </li>
<% } %>  
</script>
{%- endblock result -%}