
{# 使用页面 
 * 1、列表页  Houses/list.html.twig
 *
#}

{# 列表页弹窗 聚合多少房源 #}
<div id="alertHTML" style="display:none;" new_filtrate="true">
    <div style="color:#ffffff;">
        重组多家委托的房源
        <br/>
        目前在售
        <b style="color:#fa891b;font-size:.7rem;" class="count_p totalLoupan">

        </b>
        套全网房源
    </div>
</div>