
{# 使用页面 
 * 1、新房详情页  Houses/detailblock.html.twig
 * 2、新房全网比价二级页面 Houses/dqwbj.html.twig
 *
#}

{#查看来源弹框#}
<div id="source" class="broker-mask-layer" style="display: none; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
    <div class="feedback-main-mask">
        <div class="header">
            来源渠道：<span class="channel"></span>
            <span class="close">×</span>
        </div>
        <div class="content">
            <textarea class="content_url" id="content_url"></textarea>
            <span class="copy_url">点击链接长按全选复制</span>
        </div>
    </div>
</div>
