<style type="text/css">
    .border{
        border: 1px solid #d0d0d0;
        width: 700px;
        margin: 0 auto;
        margin-top:20px;
    }
    .con{
        width: 600px;
        margin: 0 auto;
        margin-top:20px;
        p{
            padding-bottom: 20px;
        }
        .center{
            text-align: center;
        }
        a{
            color:#0e99c7;
        }
        .p-grap{
            color:#d0d0d0;
        }
        .con-text{
            background-color: #ececec;
            padding: 10px 8px;
            margin-bottom: 40px;
            p{
                padding-bottom:0;
                span{
                    margin-right:30px;
                }
            }
            h3{
                font-weight: bold;
                padding-top:10px;
                padding-bottom: 20px;
            }
        }
        .con-bottom{
            text-align: center;
            border-top:1px solid  #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            padding-top: 20px;
            margin-bottom:20px;
            a{
                margin:0 20px;
            }
        }
        .container {
            width: 1200px;
            min-width: 1200px;
            margin: auto;
        }

    }
</style>
<div class="container">
    <div class="border">
        <div class="con">
            <!--<p>你好</p>-->
            <p><b>你好</b>，你的重置密码是：</p>
            <div class="con-text">
                <h3>{{ vid }}  请妥善保管！</h3>
            </div>
            <!--<p class="p-grap">你可以 <a href="#">进入worktile查看任务详情</a></p>-->
            <div class="con-bottom">
                    <p>
                        <a href="#">移动端</a>
                        <a href="#">企业版</a>
                        <a href="#">帮助中心</a>
                    </p>
                    <p class="p-grap">如果您觉得这封邮件跟您没有任何关系，请忽略此邮件，并且不要泄露给任何人</p>
            </div>
            <p class="p-grap center">如有任何疑问或建议，可以反馈至：<a href="www.08cms.com">www.08cms.com</a></p>
        </div>
    </div>
</div>
