$p-w: 490px;
$sel-h: 30px;
.popup-table {
    font-size: 12px;
    th,
    td {
        line-height: $tb-lh;
        border-bottom: 1px solid $tb-bdc;
        padding: 5px 10px;
        min-height: 30px;
    }
    th {
        background: $tb-bgc;
    }
    .ltd {
        border-left: 1px solid $tb-bdc;
    }
    .rtd {
        border-right: 1px solid $tb-bdc;
    }
    ul {
        line-height: 1.8;
        @extend %clearfix;
        // overflow: hidden;
    }
    li {
        float: left;
        margin-right: 5px;
    }
    .popup-table-1 {
        width: 100%;
        th,
        td {
            border: 0px !important;
        }
        tr:hover {
            border-bottom: 1px solid #5F4A4A;
        }
    }
}



.popup-form-table {
    font-size: 12px;
    th {
        text-align: left;
        background: $tb-bgc;
        line-height: $tb-lh;
        padding: 5px 10px;
        min-height: 30px;
    }
    td > div > .form-row > .form-cell {
        padding: 10px 5px;
        border-bottom: 1px solid #EEE;
        // border-top: none;
    }
    td > div {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }
    td > div >.form-row {
        display: table-row;
        >div {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .form-errors {
        border: none;
    }
    td {
        padding: 0;
        border: none;
        > div > .form-row > .form-cell-label {
            padding: 10px;
            width: 25%;
            font-weight: bold;
            text-align: right;
            background: #F7F5F5;
            border: 1px solid #eee;
            border-right: none;
            border-top: none;
        }
    }
    .rtd {
        border: none;
    }
    .form-row #ueditor_content {
        display: block;
        div {
            display: block;
        }
    }
    .hide {
        display: none;
    }
    .form-cell {
        .form-row {
            display: inline-block;
            >div {
                display: inline;
            }
            .form-cell-label {
                label {
                    display: none;
                }
                label.dib {
                    display: inline-block;
                }
            }
        }
    }
    ul {
        line-height: 1.8;
        @extend %clearfix;
        // overflow: hidden;
    }
    li {
        float: left;
        margin-right: 5px;
    }
}

.popup {
    .main-oprate {
        margin-top: - $spacing * 2;
        padding-top: $spacing;
    }
    &-submit {
        margin: 10px auto;
        text-align: center;
    }
}

.wk-pop-body {
    .main-through {
        .main-hd,
        .main-bd,
        .filter,
        .list-con,
        .oprate,
        .prompt {
            margin: 0;
        }
    }
}

.wk-pop-body {
    .main-left {
        width: 100px;
    }
}
