<div class="filter2 bd-gray mb10">
    <dl class="clearfix">
        <dt>
            域：
        </dt>
        <dd>
            <a href="#" class="act">不限</a>
            <a href="#">海淀</a>
        </dd>
    </dl>
</div>