{% extends "ManageBundle::poplayout.html.twig" %}
{% block js %}
<script type="text/javascript">


</script>
{% endblock %}
{% block body%}
<div align="center"><img src="{{ url }}" style="vertical-align:middle;"></img></div>
<span style="height:100%;display:inline-block;vertical-align:middle;"></span>
{% endblock %}