<form>
	<input type="password" class="txt" placeholder="原密码" value=""/>
	<input type="password" class="txt" placeholder="新密码" value=""/>
	<input type="password" class="txt" placeholder="重复密码" value=""/>
	<input type="submit" class="btn" value="确定修改"/>
</form>