{% extends "HouseBundle::base_show.html.twig" %}
{% set id =app.request.get("id")|default('') %}
{% set models = app.request.get('models') %}
{% block inner_js %}

<script type="text/javascript">
	seajs.use(['searchxq'], function (searchxq) {
		$(function(){
			searchxq.search({
				xq: '#lpmc',
				url: '{{("majaxaction/xiaoqu")|U({type: 1})}}',
				autofill: ['address', 'name', 'aid','map','lng','lat']
			});

			searchxq.changeTitle({
				offon: '{{id}}'
			});
	
			// 自动计算单价
			
			searchxq.division();
			
		});	
	})	
</script>

<script id="searchlist" type="text/html">
	<% for (var i = 0; i < name.length; i++) { %>
	<li data-config="{id: <%= id[i] %>, address: '<%= address[i] %>'}">
		<span class="name"><%= name[i] %> </span>
		<span>地址 :</span>
		<span class="address"> <%= address[i] %> </span>
	</li>
	<% } %>
</script>
{% endblock %}
{% block body %}
{{ core_manage.form(form|default('')) }}
{# {% set xq = ('house.houses')|getAll({type:1, checked: 1}) %}
{{dump(xq)}} #}
{% endblock %}