{% extends "ManageBundle::mainlayout.html.twig" %}
{% block js %}
<script type="text/javascript">
seajs.use("{{bundlepath}}/js/webconfig.js",function(main){
	main.init('cfthemes');
});
</script>
{% endblock %}
{% block tableMain %}
<form class="form" action="{{ (action)|U }}" method="post" name="form">
<table class="right-table">
	<tr>
		<th colspan="2" class="conlist">主题设置</th>
	</tr>
	<tr>
		<td class="w300 txtright fB pright10">选择主题</td>
		<td>
		    <select name="beer">
		        <option>默认主题</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input class="submit-btn ajax-post confirm" target-form="form" value="保 存" type="submit"></td>
	</tr>
</table>
</form>
{% endblock %}
{% block submit %}{% endblock %}
{% block promptUl %}<li></li>{% endblock %}