
.footer {
    background: url(../images/footer-bg.jpg) no-repeat center top #222;
    clear: both;
    width: 100%;
    height: 426px;
    padding: 0;
    margin-top: 0;
    font-size: 14px;
}

.footer .wrapper {
    width: 1150px;
    margin: 0 auto;
}

.footer .f-title {
    height: 75px;
    border-bottom: 1px solid #393939;
    line-height: 75px;
    margin: 0
}

.footer .f-title .fr {
    color: #7dcfa0
}

.footer .f-title .fl li {
    float: left
}

.footer .f-title .fl li.nav_f {
    position: relative;
    text-align: left
}

.footer .f-title .fl li.nav_f:hover .sitemap-quick {
    display: block
}

.footer .f-title .fl li.nav_f .sitemap-quick {
    display: none;
    width: 200px;
    position: absolute;
    background: rgba(71, 78, 88, 0.95);
    padding: 15px;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    right: -70px;
    top: 49px;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background: #333 \0
}

.footer .f-title .fl li.nav_f .sitemap-quick p {
    color: #fff3be;
    font-size: 14px;
    font-weight: 700
}

.footer .f-title .fl li.nav_f .sitemap-quick dd a {
    height: auto;
    margin: 5px 0;
    color: #dbece1
}

.footer .f-title .fl li.nav_f .sitemap-quick .nav_area {
    clear: both;
    width: 200px;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;
    padding-bottom: 10px
}

.footer .f-title .fl li.nav_f .sitemap-quick .last {
    border: none;
    margin: 0;
    padding: 0
}

.footer .f-title .fl li.nav_f .sitemap-quick a {
    color: #ddd;
    font-size: 12px;
    margin-right: 9px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    float: none;
    display: inline-block
}

.footer .f-title .fl li a {
    color: #fff;
    margin-right: 15px;
    font-size: 14px
}

.footer .f-title .fl li a:hover {
    text-decoration: none
}

.footer .lianjia-link-box {
    padding: 13px 0 20px 0;
    border-bottom: 1px solid #393939;
    background: none;
    overflow: hidden;
}

.footer .lianjia-link-box .fl {
    width: 1000px
}

.footer .lianjia-link-box .fl .tab {
    height: 40px
}

.footer .lianjia-link-box .fl .tab span {
    display: inline-block;
    padding: 8px 10px;
    background: #121212;
    color: #888c8e;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.footer .lianjia-link-box .fl .tab span:empty {
    display: none
}

.footer .lianjia-link-box .fl .tab span.hover {
    background: #394043;
    color: #fff
}

.footer .lianjia-link-box .fl .link-list {
    clear: both
}

.footer .lianjia-link-box .fl .link-list div {
    display: none;
    min-height: 89px
}

.footer .lianjia-link-box .fl dd a {
    color: #888c8e;
    font-size: 12px;
    display: inline-block;
    margin: 10px 10px 0 0
}

.footer .lianjia-link-box .fr {
    width: 140px
}

.footer .lianjia-link-box .fr img {
    border: 5px solid #fff;
    border-radius: 2px;
    width: 129px;
    height: 129px
}

.footer .bottom {
    padding-top: 23px
}

.footer .bottom .copyright {
    color: #888c8e;
    font-size: 12px;
    line-height: 20px
}

.footer .bottom .hot-frauds {
    display: none
}