/*map----------------------------*/
.map-box{
    width: 100%;
    height: 560px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.map-content{
    width: 100%;
    height: 100%;
}
.map-extension{
    width: 380px;
    height: 520px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2)
}
.map-header{
    width: 100%;
    height: 40px;
    background: #EEEEEE;
    line-height: 40px;
    padding: 0 26px 0 20px;
}
.map-header>p{
    font-size:12px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    float: left;
}
.map-header>span{
    font-size:12px;
    font-family:MicrosoftYaHei;
    color:rgba(99,99,99,1);
    float: right;
    margin-left: 18px;
    cursor: pointer;
    user-select: none;
}
.map-header>span.ff8400{
    color:#ff8400;
}
.map-header>span b{
    width: 16px;
    height: 12px;
    margin-right: 6px;
}
.map-rim{
    display: block;
}
.map-nav{
    width: 335px;
    height: 61px;
    border-bottom: 1px solid #EEE;
    padding: 24px 0 20px 45px;
    overflow: hidden;
}
.map-nav li{
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    user-select: none;
}
.map-nav li>.pic{
    width:40px;
    height: 40px;
    background: #ff8400;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-bottom: 5px;
    color: #FFF !important;
}
.map-nav li>.name{
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(41,41,41,1);
    line-height:19px;
    text-align: center;
}
.map-nav li>.ff8400{
    color: #ff8400;
}
.map-info-list{
    width: 340px;
    height: calc(60px*6);
    margin: 0 auto;
    overflow: auto;
}
.map-info-list::-webkit-scrollbar {
    display: none;
}
.map-info-list ul{

}
.map-info-list li{
    position: relative;
    padding:10px 0;
    border-bottom: 1px solid #EEE;
}
.map-info-list li>div{
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}
.map-info-list li>div b{
    color: rgba(204,204,204,1);
    margin-right: 10px;
}
.map-info-list li>p{
    font-size:12px;
    font-family:MicrosoftYaHei;
    color:rgba(153,153,153,1);
    margin-left: 26px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-top: 4px;

}
.map-info-list li>.meter{
    position: absolute;
    top: 12px;
    right: 0;
    color: #999999
}

.map-omnirange{
    display: none;
}

.map-omnirange>.map-title{
    width: 100%;
    height: 61px;
    border-bottom: 1px solid #EEE;
    padding: 24px 20px 20px 45px;
    overflow: hidden;
}
.map-omnirange>.map-title .title{
    font-size:14px;
    font-family:MicrosoftYaHei-Bold;
    color:#ff8400;
    float: left;
}
.map-omnirange>.map-title .go-back{
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:#999;
    float: right;
    cursor: pointer;
}
.map-omnirange>.map-title .go-back:hover{
    color: #ff8400;
}

.map-omnirange>.map-nav-input{
    width: 100%;
    padding-left: 21px;
    padding-top: 40px;
}
.map-omnirange>.map-nav-input>div{
    margin-bottom: 20px;
}
.map-omnirange>.map-nav-input span{
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height:19px;
    margin-right: 10px;
}
.map-omnirange>.map-nav-input input{
    width: 280px;
    height: 40px;
    border: 1px solid #EEE;
    font-size: 18px;
    padding-left: 20px;
}
.map-omnirange>.map-nav-input .query{
    width:100px;
    height:36px;
    line-height:36px;
    background: #ff8400;
    border-radius: 2px ;
    margin-left: 38px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    user-select: none;
}


.map-omnirange>.map-nav-info{
    width: 100%;
    height: calc(60px*6);
    display: none;
    overflow: auto;
}

.map-inp{
    margin-top: 20px;
    height: 31px;
}
.map-inp>div{
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    display: inline-block;
}
.map-inp>.input{
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
    color: #A9A9A9;
}
.map-inp input{
    width: 180px;
    height: 93%;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #EFEFEF;
}
.map-inp button{
    width: 81px;
    background: #FF8400;
    border-radius: 0 2px 2px 0;
    text-align: center;
    line-height: 30px;
    border: none;
    color: #FFF;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    cursor: pointer;
}
.sel_n .sel_body_name{
    height: inherit !important;
}
.selBtn{
    /*display: none !important;*/
}