/*!
 * @name fwpt.css
 * @author xying
 * @date 2016-9-7
 * @dec 房屋配套
 */
.fwpt-li {
    li {
        float: left;
        width: 108px;
        text-align: center;
        color: #f50;
        height: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    i {
        font-size: 30px;
        display: block;
    }
}