/*!
* @name <%= name %>
* @author <%= author %>
* @date <%= date %>
*/

@import 'static/ats';
// 工具类 每个文件都要导入

@import 'top-search';

.xinxi{
    background-color: #f8f8f8;
    width:900px;
    height:500px;
    position: relative;
    // 标题
    .con-head{
        margin-bottom:20px;
        h3{
        background-color: #ff6600;
        color:#fff;
        width:190px;
        height:50px;
        line-height:50px;
        padding-left:20px;
        font-size:20px;
        }
        span {   
            width:0;   
            height:0;   
            border-top:26px solid transparent;   
            border-bottom:30px solid transparent;   
            border-right:26px solid #f8f8f8;
            position:absolute;
            top:-1px;
            left:186px;
        }
    }
    // 注册信息
    .con-infor{
        margin-left: 100px;
    }
}
// 右侧
.ad{
    height:500px;
    width:250px;
    margin-top:20px;
    padding-bottom: 20px;
    h3{
        font-size:24px;
        color:#ff6600;
        margin-top:20px;
        p{
            font-size:14px;
            color:#999;
            margin:10px 0 10px 0;
        }
    }
}








