/*!
* @name {{ name }}
* @author {{ author }}
* @date {{ date }}
*/

@import 'static/ats';
// 工具类 每个文件都要导入

@import 'font-ico';
@import 'font-service';
@import 'font-index';
// 账号，投票
@import 'yanshi'; // 演示地址
@import 'btgg'; // 背投广告
$major-color: #e43 !default;
//页面主颜色
$bd-color: #ddd !default;
//边框颜色
$slider-h: 450px !default;

$aside-menu-w: 200px !default;
//左侧分类宽度
$aside-w: 300px !default;
//右侧模块宽度

/* common */
.num
{
    font: 24px georgia;

    color: $major-color;
}
.f-color
{
    color: $major-color;
}
.line
{
    border-bottom: 1px solid #e6e6e6;
}

/* ==========
tab common
========== */
.tab-header
{
    li
    {
        float: left;

        cursor: pointer;
        text-align: center;

        background: #fff;
        &.act
        {
            color: $major-color;
        }
    }
}
.tab-body
{
    .item
    {
        width: 100%;
        height: auto;
    }
}

/* ==========
list common
========== */
.list
{
    li
    {
        float: left;
        a
        {
            position: relative;

            display: block;
            overflow: hidden;
            img
            {
                display: block;

                transition: transform .5s ease 0s;
            }
            p
            {
                line-height: 35px;

                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 35px;

                text-indent: 10px;

                color: #fff;
            }
        }
        p
        {
            line-height: 21px;

            overflow: hidden;

            height: 21px;
        }
        .price
        {
            font-size: 24px;

            margin-right: 4px;
        }
        .ad
        {
            margin-top: 12px;
            margin-right: 5px;
        }
        &:hover
        {
            a
            {
                img
                {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* ==========
slider
========== */
.slider-wrap {
    min-width: $min-screen;
    position: relative;
    background: #e0f2f4;
    .container {
        position: relative;
    }
    .slider-content {
        overflow: hidden;

        width: 100%;
        height: $slider-h;
        .slider {
            width: 100%;
            height: $slider-h;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .prev-btn,
    .next-btn {
        $btn-h: 81px;
        font-size: 34px;
        line-height: $btn-h;

        position: absolute;
        top: 50%;

        width: 40px;
        height: $btn-h;

        margin-top: - $btn-h / 2;

        cursor: pointer;
        text-align: center;

        opacity: 0;
        color: #fff;
        // background: rgba(0, 0, 0, .8);
        @include transparent(#000, .8);
        i {
            vertical-align: 0;
        }
    }
    .prev-btn {
        left: 135px;
    }
    .next-btn {
        right: 135px;
    }
    .small-btn {
        $small-btn-w: 300px;
        position: absolute;
        width: $small-btn-w;
        z-index: 10;
        bottom: 20px;
        left: 50%;
        text-align: center;
        margin-left: - $small-btn-w / 2;
        i {
            display: inline-block;
            overflow: hidden;

            width: 30px;
            height: 10px;

            cursor: pointer;
            vertical-align: middle;
            text-indent: -9999px;
            margin: 0 3px;

            background: #fff;
            &.act {
                background: $major-color;
            }
        }
    }
}


/* ==========
search
========== */
.search-form {
    $search-form-w: 680px;
    position: absolute;
    top: 200px;
    left: 50%;
    width: $search-form-w;
    margin-left: - $search-form-w / 2;

    display: block;


    border-radius: 5px;
    @include transparent(#000, .3);
    form {
        padding: 20px;
    }
    .logo {
        height: 28px;
        margin-bottom: 15px;
    }
    .search-cate {
        margin-bottom: 10px;
        a {
            font-size: 16px;
            // font-weight: 700;
            margin-right: 12px;
            position: relative;

            float: left;

            padding: 4px 12px;

            cursor: pointer;

            color: #fff;
            border-radius: 3px;
            i {
                font-size: 18px;

                position: absolute;
                top: 22px;
                left: 50%;

                margin-left: -8px;

                color: transparent;
            }
            &:hover {
                text-decoration: none;
            }
            &.act {
                background: $major-color;
                i {
                    color: $major-color;
                }
            }
        }
    }
    .quick {
        font-size: 16px;
        line-height: 32px;

        margin-left: 20px;

        color: #fff;
        &:hover {
            text-decoration: none;

            color: $major-color;
        }
        i {
            vertical-align: -2px;
        }
    }
    .search-wrap {
        width: 640px;
        .search-input {
            line-height: 32px;

            width: 548px;
            height: 32px;
            padding: 6px 10px;

            vertical-align: middle;

            border: 1px solid #ddd;
        }
        .search-btn {
            font-size: 22px;
            line-height: 46px;

            width: 68px;
            height: 46px;

            color: #fff;
            border: 0;
            background: $major-color;
        }
    }
}


/* ==========
menu
========== */
.menu
{
    min-width: $min-screen;
    padding: 18px 0;

    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 1px 10px #d5d5d5;
    dl
    {
        float: left;

        width: $screen / 4;
        dt
        {
            float: left;

            width: 100px;
            margin-top: 9px;

            text-align: right;
            a
            {
                font-size: 28px;
                &:hover
                {
                    text-decoration: none;
                }
            }
        }
        dd
        {
            width: 149px;
            margin-left: 100px;
            a
            {
                font-size: 16px;

                display: inline-block;

                margin-top: 4px;
                margin-left: 15px;

                color: #666;
                &:hover
                {
                    color: $hover-color;
                }
            }
        }
    }
}

/* ==========
资讯
========== */
.house-news {
    @extend %clearfix;
    .aside {
        float: left;

        width: 300px;
    }

    .aside1 {
        float: right;

        width: 300px;
    }
    $content-w: 600px;
    $content-p: 20px;
    .content {
        float: left;

        width: $content-w;
        &-inner {
            padding: 0 $content-p;
        }
        .news-panel {
            // margin-right: -50px;
        }
        li {
            float: left;

            width: ($content-w - $content-p * 2 - $content-p) / 2;
            &.top {
                width: auto;
                float: none;
            }
            &.news-panel-left {
                margin-right: $content-p;
            }
            // ...
            // a {
            //     white-space: nowrap;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     display: block;
            // }
        }
    }

    .news-panel {
        li {
            line-height: 35px;

            overflow: hidden;

            height: 35px;

            i {
                display: inline-block;
                overflow: hidden;

                width: 4px;
                height: 4px;
                margin-right: 7px;

                vertical-align: middle;
                text-indent: -9999px;

                background-color: #e8e5e5;

                *display: none;
            }
            .cate {
                font-size: 16px;
                line-height: 30px;

                float: left;

                height: 30px;
                margin-top: 2px;
                margin-right: 7px;
                padding: 0 10px;

                text-align: center;
                text-indent: 0;

                color: #fff;
                background: $major-color;
            }

            &.top {
                a {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

}



/* banner */
.focus {
    position: relative;

    overflow: hidden;
    zoom: 1;

    width: 300px;
    height: 220px;
    ul {
        position: relative;

        overflow: hidden;

        width: 300px;
        height: 220px;
    }
    li {
        position: relative;

        float: left;

        width: 300px;
        height: 220px;
        overflow: hidden;

        a {
            display: block;

            cursor: pointer;
        }
        .tit {
            font-size: 14px;
            line-height: 18px;

            position: absolute;
            z-index: 1;
            bottom: 22px;
            left: 30px;

            overflow: hidden;

            width: 240px;
            height: 18px;

            text-align: center;
            a {
                margin-top: 0;

                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .bg {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 300px;
            height: 50px;

            opacity: .7;
            background: #000;

            filter: alpha(opacity=70);
        }
    }
    .foucsTit {
        position: absolute;
        bottom: 7px;
        left: 0;

        width: 300px;

        text-align: center;
        i {
            font-size: 0;
            line-height: 7px;

            display: inline-block;
            overflow: hidden;

            width: 8px;
            height: 8px;
            margin: 0 5px;

            cursor: pointer;

            border-radius: 5px;
            background: #fff;
            &.on {
                background: red;
            }
        }
    }
    &:hover {
        .focusBtnL,
        .focusBtnR {
            display: block;
        }
    }
    .focusBtnL,
    .focusBtnR {
        line-height: 50px;

        position: relative;
        z-index: 1;

        display: none;

        width: 40px;
        height: 50px;
        margin-top: -50px;
        img {
            display: none;

            cursor: pointer;
        }
        span {
            font-size: 30px;

            cursor: pointer;

            color: #fff;
        }
    }
    .focusBtnL {
        float: left;
        img {
            float: right;
        }
        span {
            float: left;
        }
    }
    .focusBtnR {
        float: right;
        span {
            float: right;
        }
    }
}



$headlinesH: 84px;
$headlinesW: 84px;
$titP: 10px;
/* head-lines */
.head-lines {
    height: $headlinesH;

    background: #fafafa;
    .tit {
        font-size: 26px;
        font-weight: 700;
        line-height: ($headlinesH - $titP * 2) / 2;
        position: relative;
        float: left;
        width: $headlinesW - $titP * 2;
        height: $headlinesH - $titP * 2;
        padding: $titP;
        text-align: center;
        color: #fff;
        background: $major-color;
        .arrow {
            line-height: 16px;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: -9px;
            width: 9px;
            height: 17px;
            vertical-align: middle;
            text-indent: -9px;
            color: $major-color;
        }
    }
    .txt {
        font-size: 24px;
        font-weight: 700;
        line-height: 50px;

        display: block;
        overflow: hidden;

        height: 44px;
        margin-bottom: 4px;
        padding: 0 20px;
        text-overflow: ellipsis;

        color: $major-color;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        a {
            line-height: 24px;

            display: inline-block;
            // max-width: 235px;
            overflow: hidden;

            height: 24px;
            margin-left: 20px;

            vertical-align: middle;
        }
    }
}


/* ==========
recommend
========== */
.recommend
{
    .tab-header
    {
        border: 1px solid $bd-color;
        border-bottom-color: #fff;
        li
        {
            font-size: 18px;
            line-height: 50px;

            width: ($screen - 2)/4;
            height: 50px;
            margin-left: -1px;

            border-bottom: 1px solid $bd-color;
            border-left: 1px solid $bd-color;
            background: #fafafa;
            &.act
            {
                line-height: 44px;

                height: 48px;

                border-top: 3px solid $major-color;
                border-bottom-color: #fff;
                background: #fff;
            }
        }
    }
    .tab-body
    {
        overflow: hidden;

        height: 280px;
    }
    .item
    {
        min-height: 280px;
    }
    .list
    {
        margin-left: -25px;
        li
        {
            font-size: 12px;

            width: 220px;
            margin-left: 25px;

            color: #666;
        }
        a
        {
            width: 220px;
            height: 192px;
            margin-bottom: 3px;
            img
            {
                width: 220px;
                height: 192px;
            }
            p
            {
                // background: #000;
                // *filter: alpha(opacity=70);
                // *opacity: .7;
                // background: rgba(0, 0, 0, .5);
                // background: linear-gradient(to bottom, rgba(0, 2, 32, 0), rgba(0, 2, 32, 1));
                // font-size: 14px;
                @include transparent(#000, .5);
            }
            &:hover
            {
                p
                {
                    // background: $major-color;
                    // background: rgba(204, 0, 0, .8);
                    // background: linear-gradient(to bottom, rgba(204, 0, 0, 0), rgba(204, 0, 0, 1));
                    @include transparent($major-color, .5);
                }
            }
        }
    }
}

/* ==========
floor
========== */
// 特惠楼盘
.thlp_count {
    display: none;
}
.panel
{
    .panel-title
    {
        line-height: 40px;

        position: relative;

        padding-bottom: 4px;

        border-bottom: 1px solid #000;
        h2
        {
            font-size: 24px;

            display: inline;

            padding-left: 20px;

            border-left: 4px solid $major-color;
        }
    }
    .map
    {
        line-height: 20px;

        display: block;

        margin-top: 12px;
        margin-left: 15px;
        &:hover
        {
            text-decoration: none;
        }
        i
        {
            font-size: 28px;

            float: left;

            margin-right: 5px;

            vertical-align: 3px;

            color: $major-color;
        }
    }
    .floor-tab-header
    {
        position: absolute;
        bottom: -1px;
        left: 230px;
        a
        {
            font-size: 16px;

            display: inline-block;

            width: 104px;

            text-align: center;

            border-bottom: 1px solid #000;
            span
            {
                display: block;

                border-bottom: 3px solid #fff;
            }
            &.act
            {
                color: $major-color;
                border-color: $major-color;
                // font-weight: 700;
                span
                {
                    border-color: $major-color;
                }
            }
            &:hover
            {
                text-decoration: none;
            }
        }
    }
    .panel-body
    {
        padding-top: 30px;
        .aside-menu
        {
            width: $aside-menu-w;
        }
        .floor-tab-body
        {
            overflow: hidden;

            width: $screen - $aside-menu-w - $aside-w;
            height: 428px;
            .item
            {
                width: 100%;
            }
        }
        .aside
        {
            width: $aside-w;
        }
    }
}

/* filter */
.aside-menu
{
    dl
    {
        padding: 12px 0 12px 10px;

        border-top: 1px solid #eee;
        border-right: 1px solid #fff;
        dt
        {
            margin-bottom: 4px;
        }
        h4
        {
            font-size: 14px;
            font-weight: 700;
            .arrow
            {
                font-family: 'simsun';
                font-size: 20px;
                font-weight: normal;
                line-height: 22px;
            }
        }
        a
        {
            display: inline-block;

            margin-right: 10px;
            margin-bottom: 2px;

            vertical-align: middle;
        }
    }
    .filter-wrap
    {
        position: relative;
        dl
        {
            position: relative;
            z-index: 1001;
        }
        .filter
        {
            dd
            {
                overflow: hidden;

                height: 48px;
            }
        }
        .filter-more
        {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 200px;

            display: none;

            width: 360px;
            min-height: 400px;
            margin-left: -1px;
            padding: 5px 20px;

            border: 1px solid #eee;
            background: #fff;
            h4
            {
                color: $major-color;
            }
            dl
            {
                margin-top: 6px;
                padding: 0;

                border-top-color: #fff;
            }
        }
        &.open
        {
            .filter-more
            {
                display: block;
            }
            .arrow
            {
                color: $major-color;
            }
        }
    }
}

/* 看房团报名 */
.kanfang
{
    line-height: 35px;

    width: 200px;
    height: 85px;

    color: #666;
    background: url(../images/kanfang.jpg) no-repeat 0 0;
    h4
    {
        font-size: 16px;

        color: #333;
    }
}

.kf-list
{
    overflow: hidden;
    height: 105px;
    // height: 175px;
    li
    {
        line-height: 35px;

        overflow: hidden;

        height: 35px;
        a
        {
            color: $major-color;
        }
    }
}
    .info {
        height: 36px;
        overflow: hidden;
    }
/* body */
.floor-tab-body
{
    .item
    {
        display: none;
    }
    .list
    {
        margin-top: -28px;
    }
    li
    {
        width: 193px;
        margin-top: 28px;
        margin-left: 30px;
        a
        {
            width: 193px;
            height: 138px;
            margin-bottom: 5px;
            img
            {
                width: 193px;
                height: 138px;
            }
            p
            {
                // background: #000;
                // *filter: alpha(opacity=50);
                // *opacity: .5;
                // background: rgba(0, 0, 0, .5);
                @include transparent(#000, .5);
            }
            &:hover
            {
                text-decoration: underline;
                p
                {
                    // background: $major-color;
                    // *filter: alpha(opacity=80);
                    // opacity: .8;
                    // background: rgba(204, 0, 0, .8);
                    @include transparent($major-color, .7);
                }
            }
        }
        .price
        {
            color: #f40;
        }
    }
}

/* partner */
.partner {
    overflow: hidden;
    margin-right: 28px;
    clear: both;
    &-inner {
        @extend %clearfix;
        margin-right: -50px;
        padding-top: 10px;
    }
    a {
        display: inherit;
        float: left;
        overflow: hidden;

        width: 150px;
        height: 70px;
        margin-right: 23px;
        padding: 2px;
        border: 1px solid $bd-color;
        img {
            display: block;
            width: 150px;
            height: 70px;
            transition: transform .5s ease 0s;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}
/* 看房资讯 */
.aside
{
    h3
    {
        font-size: 18px;
        .fr
        {
            font-size: 12px;

            margin-top: 7px;
        }
    }
}
.aside-news {
    &-hd {
        @extend %clearfix;
        .tit {
            float: left;
        }
        .more {
            float: right;
        }
    }
    li {
        line-height: 32px;
        overflow: hidden;
        height: 32px;
        &.first {
            a {
                font-size: 18px;
                font-weight: 700;

                color: $major-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    i {
        display: inline-block;
        width: 4px;
        height: 4px;
        vertical-align: middle;
        background-color: #e8e5e5;
    }
    a {
        margin-right: 5px;
        margin-left: 5px;
    }
}


/* 最新开盘 */
.new-property
{
    .tab-header
    {
        border-bottom: 1px solid $bd-color;
        li
        {
            line-height: 30px;

            width: 100px;
            height: 30px;

            background: #f4f4f4;
            &.act
            {
                color: #fff;
                background: $major-color;
            }
        }
    }
    .item
    {
        display: none;
        li
        {
            line-height: 42px;

            overflow: hidden;

            height: 42px;

            border-bottom: 1px dashed $bd-color;
            &:hover
            {
                background: #f8f8f8;
            }
            &:last-child
            {
                border-bottom-color: #fff;
            }
        }
        a
        {
            span
            {
                font-size: 12px;

                color: #888;
            }
        }
        span
        {
            color: $major-color;
        }
    }
}

/* 广告转换 */
.house-ad-slider
{
    position: relative;

    width: 300px;
    height: 176px;
    .house-ad
    {
        display: none;
    }
    .big-img
    {
        width: 300px;
        height: 160px;
        .house-ad
        {
            display: none;
        }
    }
    .small-btn
    {
        position: absolute;
        right: 0;
        bottom: 0;

        height: 10px;
        i
        {
            display: block;
            float: left;
            overflow: hidden;

            width: 30px;
            height: 10px;
            margin-left: 10px;

            text-indent: -9999px;

            background: #e6e6e6;
            &.act
            {
                background: $major-color;
            }
        }
    }
}

/* 发布消息 */
@keyframes bounce-down
{
    25%
    {
        transform: translateY(-2px);
    }
    50%,
    100%
    {
        transform: translateY(0);
    }
    75%
    {
        transform: translateY(2px);
    }
}
.release-news
{
    margin-left: -10px;
    a
    {
        line-height: 30px;

        display: block;
        float: left;

        width: 145px;
        height: 30px;
        margin-bottom: 10px;
        margin-left: 10px;

        text-align: center;

        color: #fff;
        border-radius: 3px;
        background: $major-color;
        &:nth-child(2n)
        {
            background: #f60;
        }
        &:hover
        {
            text-decoration: none;

            opacity: .8;
            i {
                animation: bounce-down 1s linear 1;
            }
        }
        i {
            font-size: 18px;
            margin-right: 5px;
            vertical-align: -3px;
        }
    }
}

/* 经纪人 */
.broker
{
    li
    {
        padding: 13px 10px;

        border-top: 1px solid $bd-color;
        img
        {
            float: left;

            width: 56px;
            height: 56px;
            margin-top: 4px;
            margin-right: 20px;

            border-radius: 50%;
        }
        &:hover
        {
            background: #f8f8f8;
        }
    }
}
.more-broker
{
    font-size: 16px;
    line-height: 50px;

    display: block;

    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: url(../images/more-broker.png) no-repeat 20px 0 $major-color;
    &:hover
    {
        text-decoration: none;
        color:#fff !important;
        opacity: .8;
    }
}
/* ==========
daquan
========== */
.daquan
{
    .tab-header
    {
        li
        {
            font-size: 18px;
            line-height: 50px;

            position: relative;
            z-index: 2;

            width: 170px;
            height: 50px;
            margin-right: -1px;

            border: 1px solid $bd-color;
            &.act
            {
                line-height: 46px;

                height: 48px;

                border-top: 3px solid $major-color;
                border-bottom-color: #fff;
            }
        }
    }
    .tab-body
    {
        position: relative;
        z-index: 1;

        margin-top: -1px;

        border: 1px solid $bd-color;
        .item
        {
            display: none;

            min-height: 190px;
            padding-top: 10px;
            li
            {
                line-height: 34px;
                float: left;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        a
        {
            color: #666;
            &:hover
            {
                color: $hover-color;
            }
        }
        p
        {
            line-height: 40px;

            margin-top: 13px;
            padding-left: 15px;

            color: #666;
            border-top: 1px dashed $bd-color;
            a
            {
                margin-right: 5px;
            }
        }
    }
}

/* ==========
f-link
========== */
.f-link-tit
{
    font-size: 24px;

    text-align: left;
}
.f-link
{
    min-width: $min-screen;
    padding: 20px 0;

    background: #ececec;
    a
    {
        display: inline-block;

        margin: 0 10px;
    }
}


