/*!
* @name <%= name %>
* @author <%= author %>
* @date <%= date %>
*/

// 全局变量
@import 'static/ats';
// 工具类 每个文件都要导入

@import 'img-service';
//导入css 标识-文件名
@include img-service($img-service);
//调用全部样式， 标识-文件名($标识-文件名);
@import 'font-service';
//导入css 标识-文件名

@import 'img-form';
//导入css 标识-文件名
@include img-form($img-form);
//调用全部样式， 标识-文件名($标识-文件名);
//变量
$service-aside-w: 260px !default;
//侧边宽度
$service-body-w: 885px !default;
//内容区域宽度
$service-body-p: 30px !default;
//中间间隔距离

$service-nav-bg: #d4555b !default;
//导航背景颜色
$service-nav-child-bd-color: #a92328 !default;
// 导航隐藏菜单边框颜色

$service-btn-ask-bg: #97d891 !default;
//提问按钮背景色
$service-btn-ask-bg-hover: #80d877 !default;
//提问按钮鼠标移上去时的背景色

$service-tab-header-bg: #999 !default;
//tab页标题背景色
$service-tab-header-bg-hover: #d4555b !default;
//tab页标题当前状态背景色

$service-footer-bg: #f6f6f6 !default;
//底部背景色

$service-shortcut-menu-num: 6;
//快速导航的个数
$service-shortcut-bg: #81d877;
//快速导航按钮的图案背景色

$service-form-error-color: #c00 !default;
//错误提示字体颜色
$service-form-success-color: #80d877 !default;
//成功提示字体颜色
$service-form-success-bg: #eafbef !default;
//成功提示背景色

$service-cont-build-name-color: #27b446 !default;
//提问人姓名颜色

* {
    margin: 0;
    padding: 0;
}
input {
    outline: none;
}

/* 暂无信息 */
.noinfo {
    color: #666;
    font-size: 20px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

// logo
.service-logo {
    margin-top: 18px;
    margin-left: 35px;
}

/* ==========
header
========== */
.service-header {
    padding-top: 30px;
    padding-bottom: 30px;
    .fl {
        background: url(../images/08cms.png) no-repeat 0 5px;
        color: #444;
        display: block;
        font-size: 24px;
        font-weight: 700;
        height: 28px;
        line-height: 24px;
        margin-left: 50px;
        margin-top: 17px;
        padding-left: 118px;
        &:hover {
            text-decoration: none;
        }
    }
    .fr {
        margin-top: 4px;
        i {
            color: #b2b2b2;
            font-size: 28px;
        }
        .go-back {
            font-size: 16px;
            margin-right: 25px;
        }
    }
}

/* ========
nav
======== */
.service-nav {
    background: $service-nav-bg;
    min-width: $min-screen;
    li {
        font-size: 18px;
        float: left;
        height: 50px;
        position: relative;
        text-align: center;
        width: 128px;
        b {
            height: 1px;
            background: #fff;
            overflow: hidden;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 11;
        }
        i {
            color: #fff;
            font-size: 14px;
            margin-top: -10px;
            transform: rotate(90deg);
            position: absolute;
            top: 50%;
            right: 5px;
        }
        &>a {
            border: 1px solid $service-nav-bg;
            // border-bottom: none;
            color: #fff;
            display: block;
            height: 48px;
            line-height: 48px;
            width: 100%;
            position: relative;
            z-index: 9;
        }
        &:hover {
            b{display: block;
            }
        }
        &:hover>a,
        &.hover>a {
            background: #fff;
            border-color: $service-nav-child-bd-color;
            border-bottom-color: #fff;
            color: $service-nav-child-bd-color;
            text-decoration: none;
            z-index: 11;
        }
    }
}

/* .more-issues */
.more-issues {
    background: #fff;
    border: 1px solid $service-nav-child-bd-color;
    display: none;
    font-size: 12px;
    min-height: 300px;
    padding: 15px 30px 30px;
    text-align: left;
    width: 750px;
    z-index: 9;
    position: absolute;
    a {
        color: #474747;
        &:hover {
            color: $hover-color;
            text-decoration: none;
        }
    }
    dl {
        margin-bottom: 20px;
    }
    dt,
    dd {
        float: left;
    }
    dt {
        font-weight: bold;
        margin-right: 15px;
        text-align: right;
        width: 60px;
    }
    dd {
        margin-left: 0;
        width: 670px;
        a {
            display: inline-block;
            float: left;
            margin-left: 15px;
            margin-bottom: 5px;
        }
    }
}

/* shortcut-menu */
.shortcut-nav {
    background: #fbfbfd;
    min-width: $min-screen;
    margin-bottom: 20px;
    padding: 30px 0;
    width: $screen;
    li {
        font-size: 16px;
        float: left;
        text-align: center;
        width: $screen/6;
        .shortcut-nav-icon {
            background: $service-shortcut-bg;
            border-radius: 60px;
            color: #fff;
            font-size: 30px;
            height: 60px;
            line-height: 60px;
            margin: 0 auto;
            overflow: hidden;
            width: 60px;
            &.font-service-login {
                line-height: 66px;
                text-indent: -5px;
            }
        }
        a {
            color: #444;
            &:hover {
                color: $hover-color;
                text-decoration: none;
            }
        }
        .shortcut-name {
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            padding: 0 5px; 
        }
    }
}

/* ===========
search
=========== */
.search-wrap {
    background: #fbfbfc;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
@keyframes search {
    0% {
        transform: scale(1);
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        transform: scale(1);
    }
}
.search-bar {
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    .search-input {
        border: 3px solid #999;
        border-right: none;
        font-size: 16px;
        height: 18px;
        line-height: 18px;
        padding: 17px 25px;
        vertical-align: middle;
        width: 645px;
    }
    .search-btn {
        background: $service-nav-bg;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        height: 58px;
        line-height: 58px;
        text-align: center;
        vertical-align: middle;
        width: 155px;
        i {
            font-size: 24px;
            margin-right: 10px;
            vertical-align: -5px;
        }
        &:hover {
            background: $service-nav-child-bd-color;
            color: #fff;
            text-decoration: none;
            i {
                animation: search 1s;
            }
        }
    }
}
.ask {
    background: $service-btn-ask-bg;
    color: #fff;
    font-size: 18px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    width: 260px;
    i {
        font-size: 22px;
        margin-right: 10px;
        vertical-align: -5px;
    }
    &:hover {
        background: $service-btn-ask-bg-hover;
        color: #fff;
        text-decoration: none;
    }
}

/* ==============
container
============== */
.title-h1 {
    color: #666;
    font-size: 24px;
}
.title-h2 {
    color: #666;
    font-size: 18px;
}
.body {
    background: url('../images/service-body-line.png') repeat-y right top;
    min-height: 800px;
    padding-right: $service-body-p;
    width: $service-body-w;
}

/* ==================
@url  index.html
================== */
.s-body {
    margin-bottom: 20px;
}
.s-body li {
    float: left;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    width: 23%;
    height: 122px;
    overflow: hidden;
}
.s-body li .item {
    color: #000;
}
.s-body li .item:hover {
    color: $hover-color;
    text-decoration: none;
    i {
        color: $hover-color;
    }
}
.s-body li .item-img {
    height: 40px;
    margin-bottom: 10px;
}
.s-body li .item-img i {
    color: #b2b2b2;
    font-size: 40px;
    line-height: 40px;
}
.s-body li h3 {
    font-size: 14px;
    font-weight: 700;
}
.s-body li p {
    color: #999;
}

/* ==========
tab
========== */
@keyframes tab {
    0% {
        opacity: 0;
        right: -885px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}
.tab-wrap {
    .tab-header {
        border-bottom: 1px solid #d9d7d7;
        padding-bottom: 3px;
        padding-left: 20px;
        margin-top: 30px;
        li {
            background: $service-tab-header-bg;
            cursor: pointer;
            color: #fff;
            float: left;
            height: 38px;
            line-height: 38px;
            margin-right: 10px;
            text-align: center;
            width: 132px;
            &:hover,
            &.cur {
                background: $service-tab-header-bg-hover;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .tab-body {
        min-height: 220px;
        overflow: hidden;
        position: relative;
        .tab-item {
            display: none;
            min-height: 220px;
            width: 100%;
            // &.cur {
                //     right: 0;
                //     opacity: 1;
                //     -webkit-animation: tab .3s;
                //             animation: tab .3s;
                //
            // }
        }
        .no-info {
            font-size: 18px;
            text-align: center;
            line-height: 180px;
        }
    }
}
.tab-item ul {
    padding: 20px 0;
}
.tab-item ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    padding-left: 25px;
    width: 390px;
}
.tab-item ul li a {
    display: inline-block;
    float: left;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 370px;
}
.tab-item ul li i {
    color: #666;
    float: left;
    font-size: 12px;
    margin-right: 6px;
}

/* ====================
@url   list.html
==================== */
/* =============
service list
============= */
.service-container .body {
    background-position: left top;
    padding-left: $service-body-p;
    padding-right: 0;
}
.service-container .search-wrap {
    background: transparent;
    border-bottom: 1px solid #d8d8d8;
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
    .search-bar {
        margin-left: 0;
        .search-input {
            border-width: 2px;
            padding: 11px 20px;
            width: 375px;
        }
        .search-btn {
            height: 44px;
            line-height: 44px;
        }
    }
    .ask {
        height: 44px;
        line-height: 44px;
    }
}
.service-list {
    padding: 20px;
    li {
        float: left;
        line-height: 38px;
        height: 38px;
        overflow: hidden;
        padding-right: 4.9%;
        width: 40%;
        &.line {
            margin-bottom: 50px;
        }
        a {
            color: #666;
            // display: block;
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            // white-space: nowrap;
            i {
                color: #999;
                font-size: 12px;
                vertical-align: middle;
            }
            &:hover {
                color: $hover-color;
                text-decoration: none;
            }
        }
    }
}

/* =================
@url  content.html
================= */
/* =================
相关问题
================= */
.related-information {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .title-h2 {
        background: $service-nav-bg;
        color: #fff;
        font-size: 16px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        width: 125px;
    }
    ul {
        height: 60px;
        padding-top: 20px;
        overflow: hidden;
        position: relative;
    }
    li {
        float: left;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-indent: 45px;
        width: 33.3%;
        a:hover {
            color: $hover-color;
        }
        &.cur {
            a{color: $hover-color;
            }
        }
        &.btn {
            background: #fff;
            cursor: pointer;
            color: red;
            width: 33.3%;
            z-index: 1;
            position: absolute;
            left: 66.6%;
            bottom: 0;
            border-width: 0;
            padding: 0;
        }
    }
}

/* ===========
问题内容
=========== */
.service-container .title-h1 {
    color: #dd5559;
    text-align: center;
}
.issues-content {
    font-size: 16px;
    padding: 30px 30px 0 30px;
    .issues-tit {
        color: #656464;
        font-size: 16px;
        font-weight: 700;
    }
    p {
        color: #656464;
        margin-bottom: 20px;
        img {
            display: block;
            margin: 5px auto;
            max-width: 100%;
            width: auto;
        }
    }
}

/* ===================
question
@url   tiwen.html
=================== */
.comment {
    background: #fbfbfc;
    height: auto;
    padding-left: 30px;
    width: 848px;
    
    .opt {
        margin: 10px;
    }

    .item {
        width: 50%;
        min-width:200px;
        float: none !important;
        text-indent: 10px;
        outline: none;
        // margin-top: 35px;
        // label {
        //     display: none;
        // }
        // input,
        // textarea {
        //     height: 20px;
        //     line-height: 20px;
        // }
        // input,
        // select,
        // textarea {
        //     border: 1px solid #e0e0e0;
        //     padding: 10px 20px;
        //     vertical-align: middle;
        // }
        // input {
        //     width: 295px;
        //     &.codes {
        //         margin-right: 10px;
        //         padding-top: 7px;
        //         padding-bottom: 7px;
        //         text-align: center;
        //         width: 58px;
        //     }
        // }
        // select {
        //     outline: 0;
        //     width: 337px;
        // }
        // textarea {
        //     height: 100px;
        //     line-height: 20px;
        //     outline: 0;
        //     resize: none;
        //     width: 550px;
        // }
        // .codes-img {
        //     border: 1px solid #deedf7;
        //     cursor: pointer;
        //     height: 32px;
        //     margin-right: 10px;
        //     width: 95px;
        // }
        // .form-tips {
        //     margin-left: 15px;
        //     i {
        //         margin-right: 5px;
        //         // margin-top: -4px;
        //     }
        // }
        // &.error {
        //     .form-tips {
        //         color: $service-form-error-color;
        //         i {
        //             @extend .img-form-1;
        //         }
        //     }
        // }
        // &.success {
        //     .form-edit {
        //         background: $service-form-success-bg;
        //         border-color: $service-form-success-color;
        //     }
        //     .form-tips {
        //         i{@extend .img-form-2;
        //         }
        //     }
        // }
        // &.tips {
        //     color: #666;
        //     .form-tips {
        //         i{@extend .img-form-3;
        //         }
        //     }
        // }
        // .btn {
        //     background: $service-nav-bg;
        //     color: #fff;
        //     font-size: 18px;
        //     height: 54px;
        //     line-height: 54px;
        //     margin-right: 258px;
        //     margin-top: -10px;
        //     text-align: center;
        //     width: 185px;
        //     *margin-top: -44px; /* IE7 */
        // }
    }
}
.select-model {
    display: inline-block;
    width: 337px;
    position: relative;
    .option {
        background: #fff;
        box-shadow: 1px 1px 3px 1px #ddd;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        color: #333;
        display: none;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 42px;
        left: 0;
        li {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding-left: 20px;
            &:hover {
                background: blue;
                color: #fff;
            }
        }
    }
}
.comment-title {
    border-bottom: 1px dotted #d9d9d9;
    padding-top: 30px;
    padding-bottom: 20px;
    .h1 {
        display: inline;
    }
    .fr {
        font-size: 14px;
        font-weight: normal;
        margin-right: 5px;
        margin-top: 11px;
        strong {
            color: $service-nav-bg;
        }
    }
}
.content-item {
    border-bottom: 1px dotted #d9d9d9;
    padding: 13px 0 11px;
    .cont-head {
        float: left;
        width: 42px;
        z-index: 10;
        position: relative;
    }
    .head-img {
        height: 42px;
        overflow: hidden;
        padding: 7px 0 0;
        width: 42px;
        a {
            text-decoration: none;
            img {
                display: block;
                height: 42px;
                width: 42px;
            }
        }
    }
}
.msg-wrap {
    padding: 0 0 0 62px;
    position: relative;
}
.wrap-user {
    height: 24px;
    line-height: 16px;
    padding: 1px 0 0;
    .user-time {
        color: #b8b8b8;
        float: right;
        font-family: Arial;
        padding: 5px 0 0;
    }
    .user-name {
        cursor: default;
        display: inline-block;
        padding: 5px 7px 0 0;
        a {
            color: $service-nav-bg;
        }
    }
}
.wrap-issue {
    padding: 12px 0 0;
    .issue-wrap {
        font-size: 14px;
        line-height: 22px;
        margin: 0;
        word-wrap: break-word;
    }
}
.wrap-action {
    font-size: 12px;
    line-height: 16px;
    margin: 11px 0 0;
    .action-click {
        position: relative;
        text-align: right;
        a {
            &:hover {
                text-decoration: none;
            }
        }
        .click-ding {
            margin-right: 30px;
            .font-service-1 {
                color: #999;
                font-size: 14px;
                vertical-align: -2px;
            }
            .ding-num {
                font-style: normal;
            }
            &:hover {
                .font-service-1 {
                    color: $hover-color;
                }
            }
        }
        .click-reply {
            margin-right: 15px;
        }
    }
}
.wrap-build {
    margin: 9px 0 6px;
    .build-floor {
        background-color: #fbfbfb;
        padding: 4px 4px 6px;
        .build-msg {
            padding: 8px 10px 0;
            .wrap-user {
                .user-name {
                    a{color: $service-cont-build-name-color;
                    }
                }
            }
            .wrap-action {
                visibility: hidden;
            }
        }
    }
}
//回复
.module-cmt-box {
    background: #fbfbfb;
    display: none;
    margin-top: 10px;
    padding: 10px 15px 30px;
    .box-head {
        margin-bottom: 15px;
        .wrap-user {
            .user-name {
                a{color: $service-cont-build-name-color;
                }
            }
        }
        .login-type {
            li {
                float: left;
                margin-left: 40px;
                i {
                    margin-right: 2px;
                    vertical-align: -5px;
                    *vertical-align: 0; /* IE7 */
                }
            }
        }
    }
    .textarea {
        background: #fff;
        border: 1px solid #ddd;
        border-bottom: none;
        padding: 5px;
        textarea {
            border: 0;
            height: 60px;
            line-height: 20px;
            outline: 0;
            resize: none;
            width: 100%;
        }
    }
    .box-foot {
        background: #fafafa;
        border: 1px solid #ddd;
        height: 40px;
        line-height: 40px;
        .action-function {
            span {
                margin-left: 10px;
                strong {
                    color: #f88906;
                }
            }
        }
        .action-issue {
            position: relative;
            *width: 227px; /* IE7 */
            .action-codes {
                border: 1px solid #e0e0e0;
                height: 18px;
                line-height: 18px;
                padding: 6px 15px;
                text-align: center;
                width: 50px;
            }
            .action-codes-img {
                display: none;
                height: 32px;
                width: 82px;
                position: absolute;
                top: 36px;
                right: 97px;
                img {
                    display: block;
                    height: 32px;
                    width: 82px;
                }
            }
            .action-btn {
                background: $service-cont-build-name-color;
                color: #fff;
                display: block;
                font-size: 18px;
                float: right;
                height: 42px;
                line-height: 42px;
                margin: -1px -1px 0 10px;
                padding: 0 8px;
                *margin-top: -42px; /* IE7 */
            }
        }
    }
}

/* ===========
right
=========== */
.aside {
    width: $service-aside-w;
}

/* online-service */
.online-service {
    margin-bottom: 30px;
}
.online-service i {
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
    float: left;
}
.online-service dl {
    font-size: 18px;
    float: left;
    line-height: 24px;
}
.online-service dl dt {
    color: #999;
}
.online-service dl dd {
    color: $hover-color;
    // font-family: "宋体";
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 0;
}

/* hot-issues */
.hot-issues {
    border-top: 1px solid #d9d7d7;
    font-size: 16px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    li {
        a{color: #666;
            display: block;
            line-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            i {
                background: #666;
                display: inline-block;
                height: 2px;
                margin-right: 5px;
                vertical-align: middle;
                width: 2px;
            }
            &:hover {
                color: $hover-color;
                i {
                    background: $hover-color;
                }
            }
        }
        &.noinfo {
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
    }
}

/* aside-menu */
.service-container .aside {
    width: $screen - $service-body-w - $service-body-p;
    .title-h2 {
        font-size: 24px;
    }
}
.aside-nav li {
    font-size: 16px;
    overflow: hidden;
    a {
        color: #666;
    }
    .level-btn {
        text-align: right;
        height: 32px;
        float: left;
        line-height: 32px;
        padding-right: 10px;
    }
    &.open {
        .level-btn {
            color: #fff;
        }
        .level2 {
            display: block !important;
        }
    }
    &.cur {
        &>a {
            background: $service-nav-bg;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
        ul {
            display: block;
        }
    }
    .item-tit {
        display: block;
        margin-bottom: 3px;
        &:hover {
            color: $hover-color;
            text-decoration: none;
        }
    }
    ul {
        background: #fff;
        display: none;
        li {
            font-size: 14px;
            .item-tit {
                padding-left: 40px;
            }
        }
    }
    .level-btn {
        i {
            color: $service-nav-bg;
            font-size: 12px;
            vertical-align: middle;
        }
    }
}

