/*!
* @name <%= name %>
* @author <%= author %>
* @date <%= date %>
*/

@import 'static/ats';
// 工具类 每个文件都要导入
@import 'font-lp';
// 楼盘图标
@import 'img-xf'; //导入css 标识-文件名
@include img-xf($img-xf); //调用全部样式， 标识-文件名($标识-文件名);

.searchbg {
    background-color: #f4f4f4;
    padding: 15px 0;
    margin-top: 20px\9;
}
.search {
    margin: 0 auto;
    width: 1200px;
}
.searcht {
    height: 38px;
    padding: 13px 0;
}
.searchtl {
    float: left;
    margin-right: 41px;
    width: 550px;
}
.searchtl input {
    float: left;
}
.searchtl .sotxt {
    border: 1px solid #d2d2d2;
    color: #666;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    width: 448px;
}
.searchtl .sobtn {
    background-color: #df0303;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    height: 38px;
    letter-spacing: 2px;
    width: 90px;
}
.searchtr,
.searchbc {
    float: left;
}
.searchtr li {
    float: left;
    font-size: 14px;
    line-height: 38px;
    padding: 0 11px;
}
.searchtr li i {
    color: #c00;
}
.searchb {
    height: 40px;
}
.searchbl {
    float: left;
    height: 40px;
    margin-right: 24px;
    position: relative;
    width: 742px;
    z-index: 999;
    .more-tit {
        display: none;
    }

    li {
        background-color: #fff;
        float: left;
        height: 38px;
        margin-right: 6px;
        position: relative;
        width: 100px;
        i {
            bottom: 0;
            left: 70px;
            position: absolute;
        }
        &.hover .more-bd {
            display: block;
        }
    }
    .more-hd {
        border: 1px solid #d2d2d2;
        color: #666;
        display: block;
        font-size: 14px;
        height: 38px;
        line-height: 38px;
        text-decoration: none;
        text-indent: 10px;
        vertical-align: top;
    }
    
    .more-bd {
        background-color: #fff;
        left: 0;
        position: absolute;
        display: none;
        height: auto;
        overflow: hidden;
        width: 100%;

        ul {
            width: 100%;
        }
        a {
            border: 1px solid #e5e5e5;
            color: #666;
            height: 29px;
            line-height: 29px;
            margin-top: -1px;
            vertical-align: top;
            display: block;
            font-size: 12px;
            padding-left: 10px;
            vertical-align: top;
            white-space: nowrap;
        }
        a:hover {
            background: #f4f4f4 none repeat scroll 0 0;
            text-decoration: none;
        }
    }
}
.searchbc {
    float: left;
    height: 38px;
    overflow: hidden;
    width: 350px;
}
.searchbr {
    float: right;
}
.searchbr a {
    border: 1px solid #ddd;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-left: -1px;
    text-align: center;
    text-decoration: none;
    width: 38px;
}
.searchbr i {
    color: #999;
    font-size: 24px;
}
.searchbr a:hover,
.searchbr a.act {
    background-color: #fff;
}
.searchbr a:hover i,
.searchbr a.act i {
    color: $major-color;
}
.focus {
    height: 476px;
}
.focusl {
    float: left;
    width: 888px;
}
.big {
    float: left;
    height: 476px;
    overflow: hidden;
    position: relative;
    width: 665px;
}
.big li {
    position: relative;
}
.big .text {
    bottom: 0;
    left: 0;
    padding: 15px 25px;
    position: absolute;
    z-index: 9999;
}
.big .text i {
    font-size: 18px;
}
.big .bg {
    background: rgba(51, 51, 51, 0.6) none repeat scroll 0 0;
    bottom: 0;
    height: 100px;
    left: 0;
    line-height: 100px;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.big a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.big p {
    color: #fff;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.big .anniu {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: sumsun;
    font-size: 32px;
    font-weight: bold;
    height: 100px;
    left: 0;
    line-height: 100px;
    margin-top: -50px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 40px;
    z-index: 10;
}
.big .next {
    left: auto;
    right: 0;
}
.big .yuan {
    bottom: 15px;
    color: #fff;
    position: absolute;
    right: 10px;
    z-index: 200;
}
.big .yuan i {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 16px;
    line-height: 100;
    margin-right: 10px;
    overflow: hidden;
    width: 16px;
}
.big .yuan i.act {
    background-color: #c00;
}
.small {
    float: right;
    height: 158px;
    margin-bottom: 1px;
    overflow: hidden;
    position: relative;
    width: 220px;
}
.small img {
    transition: -webkit-transform 0.3s ease 0s;
}
.small:hover img {
    transform: scale(1.2);
}
.small .text {
    bottom: 5px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.small .bg {
    background: rgba(51, 51, 51, 0.6) none repeat scroll 0 0;
    bottom: 0;
    height: 55px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.small a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    text-decoration: none;
}
.small p {
    padding: 0px 5px;
    color: #fff;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}
.focusr {
    border: 1px solid #e5e5e5;
    float: right;
    height: 474px;
    width: 298px;
}
.focusrt {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 12px 17px;
}
.focusrt li {
    height: 27px;
    line-height: 27px;
    overflow: hidden;
}
.focusrt .title {
    color: #c00;
    font-size: 20px;
    font-weight: bolder;
    height: 27px;
    margin-bottom: 8px;
}
.focusrt .title a {
    color: #c00;
}
.focusrb .focusrbt {
    color: #666;
    padding-top: 27px;
    text-align: center;
}
.gyt {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 63px;
}
.gytl {
    float: left;
    height: 63px;
    width: 300px;
}
.gytl span {
    float: left;
    font-size: 24px;
    line-height: 63px;
    padding-right: 22px;
}
.gytl span.one {
    color: #099;
}
.gytl h3 {
    color: #fff;
    float: left;
    font-size: 26px;
    line-height: 63px;
}
.gytc {
    float: left;
    margin-left: 13px;
}
.gytc li {
    float: left;
    font-size: 18px;
    height: 63px;
    line-height: 63px;
    text-align: center;
}
.gytc li a {
    display: block;
    text-decoration: none;
    width: 68px;
}
.gytc li a:hover {
    background: rgba(0, 0, 0, 0) url("../images/xf/lphover.png") no-repeat scroll center bottom;
    transition: none 0s ease 0s;
}
.gytr {
    float: right;
    font-size: 14px;
    line-height: 63px;
}
.gytr a {
    color: #999;
}
.gyb {
    margin-right: -50px;
}
.gyb li {
    float: left;
    height: 257px;
    margin-right: 24px;
    margin-top: 25px;
    width: 220px;
}
.gyb li a {
    display: block;
    overflow: hidden;
}
.gyb li img {
    transition: transform 0.3s ease 0s;
}
.gyb li .bg47 {
    background-color: #474747;
    bottom: 125px;
    height: 35px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.gyb li:hover img {
    transform: scale(1.1);
}
.gyb li:hover .bg47 {
    background-color: #f60;
}
.bg47 a {
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}
.bg47 p {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 10px;
}
.gyb li .intro {
    border: 1px solid #eee;
    font-size: 12px;
    padding: 4px 5px;
}
.gyb li:hover .intro {
    border: 1px solid #f60;
}
.intro p {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.intro p .oh,
.intro p .oh1 {
    height: 28px;
    overflow: hidden;
}
.intro p .oh1 {
    width: 140px;
}
.intro p i {
    color: #f40;
    font-size: 14px;
}
.intro p em {
    color: $major-color;
}
.gyt .gytl .two {
    color: #309b03;
}
.gyt .gytl .three {
    color: #c00;
}
.gyt .gytl .four {
    color: #c0f;
}
.gyt .gytl .five {
    color: #0bf;
}
.gj {
    height: 115px;
}
.gj dl dt {
    padding-left: 24px;
    padding-right: 23px;
    position: relative;
}
.gj dl dd {
    padding: 0 28px;
}
.gj dl a {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    display: block;
    height: 90px;
    transition: all 0.3s ease 0s;
    width: 90px;
}
.gj dt,
.gj dd {
    float: left;
    font-size: 13px;
    line-height: 2;
    text-align: center;
}
.gj dt i {
    bottom: 79px;
    height: 38px;
    left: 25px;
    position: absolute;
    width: 37px;
}
@keyframes move {
    0% {
        top: 0;
        opacity: 1;
        visibility: inherit;
    }
    25%{
        top: -50px;
        opacity: 0;
        visibility: hidden;
    }    
    75%{
        top: 50px;
        opacity: 0;
        visibility: hidden;
    }
    100%{
        top: 0;
        opacity: 1;
        visibility: inherit;
    }
}
// .gj dt a:hover {
//     background-color: $major-color;
//     em{
//         @extend .img-xf-7;
//         animation:move .5s;
//     }
// }
.gj dd a:hover {
    border: 1px solid #4ec61b;
    box-shadow: 0 0 3px #4ec61b inset;
}
.gj dt a {
    background-color:  #4ec61b;
    em{
        margin-top: 20px;
    }
}
.gj dd a i{
    margin-top: 20px;
    margin-left: 3px;
}

// zst 
#zst {
    height: 230px;
    width: 298px;
}