/*!
* @name info.css
* @author xying
* @date 2016-8-8
* @dec contrast
*/

@import 'static/ats';
// 工具类 每个文件都要导入

@import 'top-search';
// 顶部搜索

.list-db {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.list-db .td0 {
    font-size: 14px;
    font-weight: bold;
}
.list-db ul {
    float: left;
    width: 220px;
}
.list-db ul.col0 {
    font-weight: bold;
    width: 99px;
}
.list-db li {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.list-db {
    .hover, .active {
        background: #e2e9ec;
    }
}
.list-db li div {
    padding: 5px;
    word-break: break-all
}
.list-db li div img {
    width: 100%;
}
.list-head-outer {
    height: 72px;
}
.list-head-inner {
    width: 100%;
    .container {
        background-color: #fff;
    }
}
.list-head {
    background: #f5f5f5;
}
.list-head li div {
    height: 30px;
    overflow: hidden;
    padding: 20px 10px;
    position: relative;
    vertical-align: top;
    background: #fff;
}
.list-head .txt {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #abadb3;
    font-family: Microsoft yahei;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-indent: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    width: 100%;
}
.reset {
    background: url("../images/close-ico.png") no-repeat 0 0;
    cursor: pointer;
    display: none;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 27px;
    width: 15px;
}
.reset:hover {
    background-position: 0 bottom;
}
.nav-db {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 3px solid #e43;
}
.nav-db li {
    display: inline;
    float: left;
    margin-bottom: -3px;
    margin-left: 30px;
}
.nav-db li a {
    float: left;
    font-size: 20px;
    padding: 12px 23px;
}
.nav-db li a:hover {
    text-decoration: none;
}
.nav-db li.act a {
    background: #fff none repeat scroll 0 0;
    border-color: #e43 #e43 #fff;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 3px;
    color: #e43;
    padding: 9px 20px;
    position: relative;
}