/*!
* @name <%= name %>
* @author <%= author %>
* @date <%= date %>
*/

@import 'static/ats';
// 工具类 每个文件都要导入

@import 'photo';

.content {
	@extend %clearfix;
}

.ztlist-item {
	width: 420px;
	margin: 0 15px 15px 0;
	overflow: hidden;
	float: left;
	height: 318px;
	h2 {
		text-align: center;
		overflow: hidden;
		font-size: 16px;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
		overflow: hidden;
	}
	p {
		color: #666;
		font-size: 13px;
		text-indent: 2em;
		line-height: 24px;
	}

}