// 户型
.door{
	.dw{
		padding-top:0.3rem;
	}
	 .item-text{
		height: auto;
	}
}
// 经纪人列表
.jjr {
	.item-title-ex{
		padding-top: 0.3rem;
	}
	.lh{
		height: 1.13rem;
	}
}
// 小区找房
.xq{
	.fam{
		font-family: georgia;
	}
	.item-title-ex{
		padding-top: 0.3rem;
	}
}
// 学区找房
.xlist{
	.item-title-ex{
		padding-top: 0.3rem;
	}
	.item-subtitle{
		margin-bottom: 0.3rem;
	}
	.bg-green{
		color: #fff;
		background-color: #9c0;
		border-color: #9c0;
	}
}


