ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.publish_click_wrap{
    width:100%;
}
.publish_time,.user_clicks{
	float:left;
}
.publish_time i{
	padding-right:3px;
	padding-bottom:2px;
}
.user_clicks i{
	padding-right:3px;
	padding-bottom:2px;
}
.publish_time{
	margin-right:10px;
}
.ccc{
	background: red;
	width:20px;
	height:20px;
	text-align: center;
	line-height: 20px;
	color:#fff;
	margin-left:-5px;
}
.hot-rank{
	display:inline-block;
	cursor: pointer;
	color:#3d4145;
	width:100%;
	height:20px;
	line-height: 20px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
// 咨询详情新房、二手房推荐
#news_lp,
#news_esf {
    .card-content {
        @extend %text-overflow;
    }
}
// 评论按钮
.beanswer {
	margin-top: -3px;
}