@charset "UTF-8";
/*!
* @name <%= name %>
* @author <%= author %>
* @date <%= date %>
*/
/**
 * @method 清除浮动 %clearfix 
 * @description 清除浮动
 * @example 调用
 * 
 * ```scss
 * div {
 *    @extend %clearfix;
 * }
 * ```
 * 
 * ```css
 * 	div {
	    *zoom: 1;
	}
	div:after {
	    display: block;
	    clear: both;

	    height: 0;

	    content: '\20';
	}
 * ```
 */
/**
 * @method 去掉虚线框 %outline 
 * @description 去掉虚线框
 * @example 调用
 * 
 * ```scss
 * div {
 *    @ extend %outline;
 * }
 * ```
 * 
 * ```css
	div {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
 * ```
 */
/**
 * @method 文字不换行后面加省略号 %text-overflow 
 * @description 文字不换行后面加省略号
 * @example 调用
 * 
 * ```scss
 * div {
 *    @extend %text-overflow;
 * }
 * ```
 * 
 * ```css
	div {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
 * ```
 */
/**
 * @method 内容换行 %word-wrap 
 * @description 内容换行
 * @example 调用
 * 
 * ```scss
 * div {
 *    @extend %word-wrap;
 * }
 * ```
 * 
 * ```css
	div {
	    word-wrap: break-word;
	    word-break: break-all;
	}
 * ```
 */
/**
 * @method 透明层opacity 
 * @description 透明层 内容也透明
 * @param {number} $opacity - 透明度 0 ~ 1之间
 * @example 调用
 * 
 * ```scss
 * div {
 *    @include opacity(.5);
 * }
 * ```
 * 
 * ```css
 * div {
	  opacity: .5;
	  filter: alpha(opacity=50);
 * }
 * ```
 */
/**
 * @method 背景透明层transparent 
 * @description 透明层只处理背景透明
 * @param {string} $color - 背景透明层的颜色
 * @param {number} $alpha - 透明度 0 ~ 1之间
 * @example 调用
 * 
 * ```scss
 * div {
 *    @include transparent(#000, .5);
 * }
 * ```
 * 
 * ```css
 * div {
 *    	background-color: transparent;
		background-color: (0,0,0,.5);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff,);
		zoom: 1;
 * }
 * ```
 */
/**
 * @method triangle 
 * @description 生成一个三角形图标
 * @param {string} $size - 三角的大小
 * @param {string} $color - 三角颜色
 * @param {string} $direction - 三角的方向 up, down, left, right
 * @example 调用
 * 
 * ```scss
 * i {
 *    @include triangle(5px, #bbb, up); 
 * }
 * ```
 * 
 * ```css
 * i {
 *    width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #bbb;
 * }
 * ```
 */
/**
* @method 水平线hr nav-divider 
* @description 透明层 内容也透明
* @param {string} $color=#e5e5e5 - 线的颜色
* @param {string} $line-height-computed - 线的高度，空间
* @example 调用
* 
* ```scss
* div {
*    @include nav-divider(#e5e5e5, 24px);
* }
* ```
* 
* ```css
* div {
	  height: 1px;
	  margin: 11px 0;
	  overflow: hidden;
	  background-color: #e5e5e5;
* }
* ```
*/
.img-service-1, .img-service-2, .img-service-3, .img-service-online {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
    line-height: 300px;
    overflow: hidden;
    background-image: url(../images/service.png);
}

.img-service-1 {
    width: 19px;
    height: 19px;
    background-position: -123px 0;
}

.img-service-2 {
    width: 19px;
    height: 19px;
    background-position: -123px -29px;
}

.img-service-3 {
    width: 19px;
    height: 19px;
    background-position: -123px -58px;
}

.img-service-online {
    width: 113px;
    height: 131px;
    background-position: 0 0;
}

@font-face {
    font-family: "service";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/service.eot");
    src: url("../fonts/service.eot?#iefix") format("embedded-opentype"), url("../fonts/service.woff") format("woff");
}

[class^="font-service-"],
[class*=" font-service-"] {
    font-family: "service";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    float: none;
    margin: 0;
    vertical-align: -0.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.font-service-1:before {
    content: "\EA01";
}

.font-service-2:before {
    content: "\EA02";
}

.font-service-3:before {
    content: "\EA03";
}

.font-service-arrow:before {
    content: "\EA04";
}

.font-service-ask:before {
    content: "\EA05";
}

.font-service-balance:before {
    content: "\EA06";
}

.font-service-find-psd:before {
    content: "\EA07";
}

.font-service-go-top:before {
    content: "\EA08";
}

.font-service-home:before {
    content: "\EA09";
}

.font-service-house:before {
    content: "\EA0A";
}

.font-service-login:before {
    content: "\EA0B";
}

.font-service-order:before {
    content: "\EA0C";
}

.font-service-real-name:before {
    content: "\EA0D";
}

.font-service-register:before {
    content: "\EA0E";
}

.font-service-search:before {
    content: "\EA0F";
}

.img-form-1, .img-form-2, .img-form-3 {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
    line-height: 300px;
    overflow: hidden;
    background-image: url(../images/form.png);
}

.img-form-1 {
    width: 15px;
    height: 16px;
    background-position: 0 0;
}

.img-form-2 {
    width: 15px;
    height: 16px;
    background-position: -25px 0;
}

.img-form-3 {
    width: 15px;
    height: 16px;
    background-position: -50px 0;
}

* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

/* 暂无信息 */
.noinfo {
    color: #666;
    font-size: 20px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.service-logo {
    margin-top: 18px;
    margin-left: 35px;
}

/* ==========
header
========== */
.service-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-header .fl {
    background: url(../images/08cms.png) no-repeat 0 5px;
    color: #444;
    display: block;
    font-size: 24px;
    font-weight: 700;
    height: 28px;
    line-height: 24px;
    margin-left: 50px;
    margin-top: 17px;
    padding-left: 118px;
}

.service-header .fl:hover {
    text-decoration: none;
}

.service-header .fr {
    margin-top: 4px;
}

.service-header .fr i {
    color: #b2b2b2;
    font-size: 28px;
}

.service-header .fr .go-back {
    font-size: 16px;
    margin-right: 25px;
}

/* ========
nav
======== */
.service-nav {
    background: #d4555b;
    min-width: 1200px;
}

.service-nav li {
    font-size: 18px;
    float: left;
    height: 50px;
    position: relative;
    text-align: center;
    width: 128px;
}

.service-nav li b {
    height: 1px;
    background: #fff;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 11;
}

.service-nav li i {
    color: #fff;
    font-size: 14px;
    margin-top: -10px;
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    right: 5px;
}

.service-nav li > a {
    border: 1px solid #d4555b;
    color: #fff;
    display: block;
    height: 48px;
    line-height: 48px;
    width: 100%;
    position: relative;
    z-index: 9;
}

.service-nav li:hover b {
    display: block;
}

.service-nav li:hover > a,
.service-nav li.hover > a {
    background: #fff;
    border-color: #a92328;
    border-bottom-color: #fff;
    color: #a92328;
    text-decoration: none;
    z-index: 11;
}

/* .more-issues */
.more-issues {
    background: #fff;
    border: 1px solid #a92328;
    display: none;
    font-size: 12px;
    min-height: 300px;
    padding: 15px 30px 30px;
    text-align: left;
    width: 750px;
    z-index: 9;
    position: absolute;
}

.more-issues a {
    color: #474747;
}

.more-issues a:hover {
    color: #f00;
    text-decoration: none;
}

.more-issues dl {
    margin-bottom: 20px;
}

.more-issues dt,
.more-issues dd {
    float: left;
}

.more-issues dt {
    font-weight: bold;
    margin-right: 15px;
    text-align: right;
    width: 60px;
}

.more-issues dd {
    margin-left: 0;
    width: 670px;
}

.more-issues dd a {
    display: inline-block;
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
}

/* shortcut-menu */
.shortcut-nav {
    background: #fbfbfd;
    min-width: 1200px;
    margin-bottom: 20px;
    padding: 30px 0;
    width: 1200px;
}

.shortcut-nav li {
    font-size: 16px;
    float: left;
    text-align: center;
    width: 200px;
}

.shortcut-nav li .shortcut-nav-icon {
    background: #81d877;
    border-radius: 60px;
    color: #fff;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    overflow: hidden;
    width: 60px;
}

.shortcut-nav li .shortcut-nav-icon.font-service-login {
    line-height: 66px;
    text-indent: -5px;
}

.shortcut-nav li a {
    color: #444;
}

.shortcut-nav li a:hover {
    color: #f00;
    text-decoration: none;
}

.shortcut-nav li .shortcut-name {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 5px;
}

/* ===========
search
=========== */
.search-wrap {
    background: #fbfbfc;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@keyframes search {
    0% {
        transform: scale(1);
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        transform: scale(1);
    }
}

.search-bar {
    float: left;
    margin-right: 20px;
    margin-left: 30px;
}

.search-bar .search-input {
    border: 3px solid #999;
    border-right: none;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    padding: 17px 25px;
    vertical-align: middle;
    width: 645px;
}

.search-bar .search-btn {
    background: #d4555b;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    vertical-align: middle;
    width: 155px;
}

.search-bar .search-btn i {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: -5px;
}

.search-bar .search-btn:hover {
    background: #a92328;
    color: #fff;
    text-decoration: none;
}

.search-bar .search-btn:hover i {
    animation: search 1s;
}

.ask {
    background: #97d891;
    color: #fff;
    font-size: 18px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    width: 260px;
}

.ask i {
    font-size: 22px;
    margin-right: 10px;
    vertical-align: -5px;
}

.ask:hover {
    background: #80d877;
    color: #fff;
    text-decoration: none;
}

/* ==============
container
============== */
.title-h1 {
    color: #666;
    font-size: 24px;
}

.title-h2 {
    color: #666;
    font-size: 18px;
}

.body {
    background: url("../images/service-body-line.png") repeat-y right top;
    min-height: 800px;
    padding-right: 30px;
    width: 885px;
}

/* ==================
@url  index.html
================== */
.s-body {
    margin-bottom: 20px;
}

.s-body li {
    float: left;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    width: 23%;
    height: 122px;
    overflow: hidden;
}

.s-body li .item {
    color: #000;
}

.s-body li .item:hover {
    color: #f00;
    text-decoration: none;
}

.s-body li .item:hover i {
    color: #f00;
}

.s-body li .item-img {
    height: 40px;
    margin-bottom: 10px;
}

.s-body li .item-img i {
    color: #b2b2b2;
    font-size: 40px;
    line-height: 40px;
}

.s-body li h3 {
    font-size: 14px;
    font-weight: 700;
}

.s-body li p {
    color: #999;
}

/* ==========
tab
========== */
@keyframes tab {
    0% {
        opacity: 0;
        right: -885px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

.tab-wrap .tab-header {
    border-bottom: 1px solid #d9d7d7;
    padding-bottom: 3px;
    padding-left: 20px;
    margin-top: 30px;
}

.tab-wrap .tab-header li {
    background: #999;
    cursor: pointer;
    color: #fff;
    float: left;
    height: 38px;
    line-height: 38px;
    margin-right: 10px;
    text-align: center;
    width: 132px;
}

.tab-wrap .tab-header li:hover, .tab-wrap .tab-header li.cur {
    background: #d4555b;
}

.tab-wrap .tab-header li a {
    color: #fff;
    text-decoration: none;
}

.tab-wrap .tab-body {
    min-height: 220px;
    overflow: hidden;
    position: relative;
}

.tab-wrap .tab-body .tab-item {
    display: none;
    min-height: 220px;
    width: 100%;
}

.tab-wrap .tab-body .no-info {
    font-size: 18px;
    text-align: center;
    line-height: 180px;
}

.tab-item ul {
    padding: 20px 0;
}

.tab-item ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    padding-left: 25px;
    width: 390px;
}

.tab-item ul li a {
    display: inline-block;
    float: left;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 370px;
}

.tab-item ul li i {
    color: #666;
    float: left;
    font-size: 12px;
    margin-right: 6px;
}

/* ====================
@url   list.html
==================== */
/* =============
service list
============= */
.service-container .body {
    background-position: left top;
    padding-left: 30px;
    padding-right: 0;
}

.service-container .search-wrap {
    background: transparent;
    border-bottom: 1px solid #d8d8d8;
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

.service-container .search-wrap .search-bar {
    margin-left: 0;
}

.service-container .search-wrap .search-bar .search-input {
    border-width: 2px;
    padding: 11px 20px;
    width: 375px;
}

.service-container .search-wrap .search-bar .search-btn {
    height: 44px;
    line-height: 44px;
}

.service-container .search-wrap .ask {
    height: 44px;
    line-height: 44px;
}

.service-list {
    padding: 20px;
}

.service-list li {
    float: left;
    line-height: 38px;
    height: 38px;
    overflow: hidden;
    padding-right: 4.9%;
    width: 40%;
}

.service-list li.line {
    margin-bottom: 50px;
}

.service-list li a {
    color: #666;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.service-list li a i {
    color: #999;
    font-size: 12px;
    vertical-align: middle;
}

.service-list li a:hover {
    color: #f00;
    text-decoration: none;
}

/* =================
@url  content.html
================= */
/* =================
相关问题
================= */
.related-information {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.related-information .title-h2 {
    background: #d4555b;
    color: #fff;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 125px;
}

.related-information ul {
    height: 60px;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
}

.related-information li {
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-indent: 45px;
    width: 33.3%;
}

.related-information li a:hover {
    color: #f00;
}

.related-information li.cur a {
    color: #f00;
}

.related-information li.btn {
    background: #fff;
    cursor: pointer;
    color: red;
    width: 33.3%;
    z-index: 1;
    position: absolute;
    left: 66.6%;
    bottom: 0;
    border-width: 0;
    padding: 0;
}

/* ===========
问题内容
=========== */
.service-container .title-h1 {
    color: #dd5559;
    text-align: center;
}

.issues-content {
    font-size: 16px;
    padding: 30px 30px 0 30px;
}

.issues-content .issues-tit {
    color: #656464;
    font-size: 16px;
    font-weight: 700;
}

.issues-content p {
    color: #656464;
    margin-bottom: 20px;
}

.issues-content p img {
    display: block;
    margin: 5px auto;
    max-width: 100%;
    width: auto;
}

/* ===================
question
@url   tiwen.html
=================== */
.comment {
    background: #fbfbfc;
    height: auto;
    padding-left: 30px;
    width: 848px;
}

.comment .opt {
    margin: 10px;
}

.comment .item {
    width: 50%;
    min-width: 200px;
    float: none !important;
    text-indent: 10px;
    outline: none;
}

.select-model {
    display: inline-block;
    width: 337px;
    position: relative;
}

.select-model .option {
    background: #fff;
    box-shadow: 1px 1px 3px 1px #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #333;
    display: none;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 42px;
    left: 0;
}

.select-model .option li {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 20px;
}

.select-model .option li:hover {
    background: blue;
    color: #fff;
}

.comment-title {
    border-bottom: 1px dotted #d9d9d9;
    padding-top: 30px;
    padding-bottom: 20px;
}

.comment-title .h1 {
    display: inline;
}

.comment-title .fr {
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
    margin-top: 11px;
}

.comment-title .fr strong {
    color: #d4555b;
}

.content-item {
    border-bottom: 1px dotted #d9d9d9;
    padding: 13px 0 11px;
}

.content-item .cont-head {
    float: left;
    width: 42px;
    z-index: 10;
    position: relative;
}

.content-item .head-img {
    height: 42px;
    overflow: hidden;
    padding: 7px 0 0;
    width: 42px;
}

.content-item .head-img a {
    text-decoration: none;
}

.content-item .head-img a img {
    display: block;
    height: 42px;
    width: 42px;
}

.msg-wrap {
    padding: 0 0 0 62px;
    position: relative;
}

.wrap-user {
    height: 24px;
    line-height: 16px;
    padding: 1px 0 0;
}

.wrap-user .user-time {
    color: #b8b8b8;
    float: right;
    font-family: Arial;
    padding: 5px 0 0;
}

.wrap-user .user-name {
    cursor: default;
    display: inline-block;
    padding: 5px 7px 0 0;
}

.wrap-user .user-name a {
    color: #d4555b;
}

.wrap-issue {
    padding: 12px 0 0;
}

.wrap-issue .issue-wrap {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    word-wrap: break-word;
}

.wrap-action {
    font-size: 12px;
    line-height: 16px;
    margin: 11px 0 0;
}

.wrap-action .action-click {
    position: relative;
    text-align: right;
}

.wrap-action .action-click a:hover {
    text-decoration: none;
}

.wrap-action .action-click .click-ding {
    margin-right: 30px;
}

.wrap-action .action-click .click-ding .font-service-1 {
    color: #999;
    font-size: 14px;
    vertical-align: -2px;
}

.wrap-action .action-click .click-ding .ding-num {
    font-style: normal;
}

.wrap-action .action-click .click-ding:hover .font-service-1 {
    color: #f00;
}

.wrap-action .action-click .click-reply {
    margin-right: 15px;
}

.wrap-build {
    margin: 9px 0 6px;
}

.wrap-build .build-floor {
    background-color: #fbfbfb;
    padding: 4px 4px 6px;
}

.wrap-build .build-floor .build-msg {
    padding: 8px 10px 0;
}

.wrap-build .build-floor .build-msg .wrap-user .user-name a {
    color: #27b446;
}

.wrap-build .build-floor .build-msg .wrap-action {
    visibility: hidden;
}

.module-cmt-box {
    background: #fbfbfb;
    display: none;
    margin-top: 10px;
    padding: 10px 15px 30px;
}

.module-cmt-box .box-head {
    margin-bottom: 15px;
}

.module-cmt-box .box-head .wrap-user .user-name a {
    color: #27b446;
}

.module-cmt-box .box-head .login-type li {
    float: left;
    margin-left: 40px;
}

.module-cmt-box .box-head .login-type li i {
    margin-right: 2px;
    vertical-align: -5px;
    *vertical-align: 0;
    /* IE7 */
}

.module-cmt-box .textarea {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 5px;
}

.module-cmt-box .textarea textarea {
    border: 0;
    height: 60px;
    line-height: 20px;
    outline: 0;
    resize: none;
    width: 100%;
}

.module-cmt-box .box-foot {
    background: #fafafa;
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
}

.module-cmt-box .box-foot .action-function span {
    margin-left: 10px;
}

.module-cmt-box .box-foot .action-function span strong {
    color: #f88906;
}

.module-cmt-box .box-foot .action-issue {
    position: relative;
    *width: 227px;
    /* IE7 */
}

.module-cmt-box .box-foot .action-issue .action-codes {
    border: 1px solid #e0e0e0;
    height: 18px;
    line-height: 18px;
    padding: 6px 15px;
    text-align: center;
    width: 50px;
}

.module-cmt-box .box-foot .action-issue .action-codes-img {
    display: none;
    height: 32px;
    width: 82px;
    position: absolute;
    top: 36px;
    right: 97px;
}

.module-cmt-box .box-foot .action-issue .action-codes-img img {
    display: block;
    height: 32px;
    width: 82px;
}

.module-cmt-box .box-foot .action-issue .action-btn {
    background: #27b446;
    color: #fff;
    display: block;
    font-size: 18px;
    float: right;
    height: 42px;
    line-height: 42px;
    margin: -1px -1px 0 10px;
    padding: 0 8px;
    *margin-top: -42px;
    /* IE7 */
}

/* ===========
right
=========== */
.aside {
    width: 260px;
}

/* online-service */
.online-service {
    margin-bottom: 30px;
}

.online-service i {
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
    float: left;
}

.online-service dl {
    font-size: 18px;
    float: left;
    line-height: 24px;
}

.online-service dl dt {
    color: #999;
}

.online-service dl dd {
    color: #f00;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 0;
}

/* hot-issues */
.hot-issues {
    border-top: 1px solid #d9d7d7;
    font-size: 16px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.hot-issues li a {
    color: #666;
    display: block;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.hot-issues li a i {
    background: #666;
    display: inline-block;
    height: 2px;
    margin-right: 5px;
    vertical-align: middle;
    width: 2px;
}

.hot-issues li a:hover {
    color: #f00;
}

.hot-issues li a:hover i {
    background: #f00;
}

.hot-issues li.noinfo {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

/* aside-menu */
.service-container .aside {
    width: 285px;
}

.service-container .aside .title-h2 {
    font-size: 24px;
}

.aside-nav li {
    font-size: 16px;
    overflow: hidden;
}

.aside-nav li a {
    color: #666;
}

.aside-nav li .level-btn {
    text-align: right;
    height: 32px;
    float: left;
    line-height: 32px;
    padding-right: 10px;
}

.aside-nav li.open .level-btn {
    color: #fff;
}

.aside-nav li.open .level2 {
    display: block !important;
}

.aside-nav li.cur > a {
    background: #d4555b;
    color: #fff;
    text-decoration: none;
}

.aside-nav li.cur > a:hover {
    color: #fff;
}

.aside-nav li.cur ul {
    display: block;
}

.aside-nav li .item-tit {
    display: block;
    margin-bottom: 3px;
}

.aside-nav li .item-tit:hover {
    color: #f00;
    text-decoration: none;
}

.aside-nav li ul {
    background: #fff;
    display: none;
}

.aside-nav li ul li {
    font-size: 14px;
}

.aside-nav li ul li .item-tit {
    padding-left: 40px;
}

.aside-nav li .level-btn i {
    color: #d4555b;
    font-size: 12px;
    vertical-align: middle;
}

/*# sourceMappingURL=service.css.map */
