@charset "UTF-8";
/*!
* @name <%= name %>
* @author <%= author %>
* @date <%= date %>
*/
/**
 * @method 清除浮动 %clearfix 
 * @description 清除浮动
 * @example 调用
 * 
 * ```scss
 * div {
 *    @extend %clearfix;
 * }
 * ```
 * 
 * ```css
 * 	div {
	    *zoom: 1;
	}
	div:after {
	    display: block;
	    clear: both;

	    height: 0;

	    content: '\20';
	}
 * ```
 */
/**
 * @method 去掉虚线框 %outline 
 * @description 去掉虚线框
 * @example 调用
 * 
 * ```scss
 * div {
 *    @ extend %outline;
 * }
 * ```
 * 
 * ```css
	div {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
 * ```
 */
/**
 * @method 文字不换行后面加省略号 %text-overflow 
 * @description 文字不换行后面加省略号
 * @example 调用
 * 
 * ```scss
 * div {
 *    @extend %text-overflow;
 * }
 * ```
 * 
 * ```css
	div {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
 * ```
 */
/**
 * @method 透明层opacity 
 * @description 透明层 内容也透明
 * @param {number} $opacity - 透明度 0 ~ 1之间
 * @example 调用
 * 
 * ```scss
 * div {
 *    @include opacity(.5);
 * }
 * ```
 * 
 * ```css
 * div {
	  opacity: .5;
	  filter: alpha(opacity=50);
 * }
 * ```
 */
/**
 * @method 背景透明层transparent 
 * @description 透明层只处理背景透明
 * @param {string} $color - 背景透明层的颜色
 * @param {number} $alpha - 透明度 0 ~ 1之间
 * @example 调用
 * 
 * ```scss
 * div {
 *    @include transparent(#000, .5);
 * }
 * ```
 * 
 * ```css
 * div {
 *    	background-color: transparent;
		background-color: (0,0,0,.5);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff,);
		zoom: 1;
 * }
 * ```
 */
/**
 * @method triangle 
 * @description 生成一个三角形图标
 * @param {string} $size - 三角的大小
 * @param {string} $color - 三角颜色
 * @param {string} $direction - 三角的方向 up, down, left, right
 * @example 调用
 * 
 * ```scss
 * i {
 *    @include triangle(5px, #bbb, up); 
 * }
 * ```
 * 
 * ```css
 * i {
 *    width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #bbb;
 * }
 * ```
 */
/**
* @method 水平线hr nav-divider 
* @description 透明层 内容也透明
* @param {string} $color=#e5e5e5 - 线的颜色
* @param {string} $line-height-computed - 线的高度，空间
* @example 调用
* 
* ```scss
* div {
*    @include nav-divider(#e5e5e5, 24px);
* }
* ```
* 
* ```css
* div {
	  height: 1px;
	  margin: 11px 0;
	  overflow: hidden;
	  background-color: #e5e5e5;
* }
* ```
*/
body {
  background: #ddf4ff url("../images/votelist/bg.jpg") repeat-x;
  width: 100%;
  height: 100%;
}

.share-box {
  position: absolute;
  top: 40px;
  left: 100px;
}

.share-a {
  background: none !important;
  font-size: 20px !important;
}

.weixin {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 12px;
  color: #333;
}

.bg {
  width: 920px;
  background: url("../images/votelist/bg2.jpg") no-repeat top center;
  margin: 0 auto;
  padding-top: 120px;
}

.bg .container {
  background-color: #fff;
  width: 920px;
  min-width: 920px;
}

.bg .container .head {
  color: #5accf1;
  font-size: 20px;
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.bg .container .con-text {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.bg .container .con-text .con {
  min-height: 400px;
}

.bg .container .con-text .con h3 {
  font-size: 20px;
  color: #666;
  font-weight: bold;
  padding-bottom: 16px;
}

.bg .container .con-text .con .text li p {
  font-weight: bold;
  font-size: 15px;
  height: auto;
  line-height: 20px;
}

.bg .container .con-text .con .text li .text-q {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 30px;
}

.bg .container .con-text .con .text li .text-q li {
  margin-left: 24px;
  font-size: 15px;
  color: #333;
  width: 95%;
  height: 30px;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}

.bg .container .con-text .con .text li .text-q li:hover {
  background-color: #efefef;
}

.bg .container .btn1 {
  margin: 0 auto;
  width: 40px;
}

.bg .container .btn1 .in {
  background: #13a5ec;
  display: inline-block;
  font-size: 16px;
  border: none;
  height: 32px;
  line-height: 32px;
  padding: 0 24px;
  border-radius: 5px;
  color: #fff;
}

.bdsharebuttonbox {
  position: absolute;
  left: 50px;
  top: 40px;
}

/*# sourceMappingURL=votelist.css.map */
