@charset "UTF-8";
/*!
* @name <%= name %>
* @author <%= author %>
* @date <%= date %>
* @dec 求租 求购
*/
/**
 * @method 清除浮动 %clearfix 
 * @description 清除浮动
 * @example 调用
 * 
 * ```scss
 * div {
 *    @extend %clearfix;
 * }
 * ```
 * 
 * ```css
 * 	div {
	    *zoom: 1;
	}
	div:after {
	    display: block;
	    clear: both;

	    height: 0;

	    content: '\20';
	}
 * ```
 */
/**
 * @method 去掉虚线框 %outline 
 * @description 去掉虚线框
 * @example 调用
 * 
 * ```scss
 * div {
 *    @ extend %outline;
 * }
 * ```
 * 
 * ```css
	div {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
 * ```
 */
/**
 * @method 文字不换行后面加省略号 %text-overflow 
 * @description 文字不换行后面加省略号
 * @example 调用
 * 
 * ```scss
 * div {
 *    @extend %text-overflow;
 * }
 * ```
 * 
 * ```css
	div {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
 * ```
 */
/**
 * @method 透明层opacity 
 * @description 透明层 内容也透明
 * @param {number} $opacity - 透明度 0 ~ 1之间
 * @example 调用
 * 
 * ```scss
 * div {
 *    @include opacity(.5);
 * }
 * ```
 * 
 * ```css
 * div {
	  opacity: .5;
	  filter: alpha(opacity=50);
 * }
 * ```
 */
/**
 * @method 背景透明层transparent 
 * @description 透明层只处理背景透明
 * @param {string} $color - 背景透明层的颜色
 * @param {number} $alpha - 透明度 0 ~ 1之间
 * @example 调用
 * 
 * ```scss
 * div {
 *    @include transparent(#000, .5);
 * }
 * ```
 * 
 * ```css
 * div {
 *    	background-color: transparent;
		background-color: (0,0,0,.5);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff,);
		zoom: 1;
 * }
 * ```
 */
/**
 * @method triangle 
 * @description 生成一个三角形图标
 * @param {string} $size - 三角的大小
 * @param {string} $color - 三角颜色
 * @param {string} $direction - 三角的方向 up, down, left, right
 * @example 调用
 * 
 * ```scss
 * i {
 *    @include triangle(5px, #bbb, up); 
 * }
 * ```
 * 
 * ```css
 * i {
 *    width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #bbb;
 * }
 * ```
 */
/**
* @method 水平线hr nav-divider 
* @description 透明层 内容也透明
* @param {string} $color=#e5e5e5 - 线的颜色
* @param {string} $line-height-computed - 线的高度，空间
* @example 调用
* 
* ```scss
* div {
*    @include nav-divider(#e5e5e5, 24px);
* }
* ```
* 
* ```css
* div {
	  height: 1px;
	  margin: 11px 0;
	  overflow: hidden;
	  background-color: #e5e5e5;
* }
* ```
*/
* {
  margin: 0;
  padding: 0;
}

.map-container {
  margin: 0 auto;
  min-width: 1200px;
  width: 1200px;
}

.map-container .body {
  width: 900px;
}

.map-container .aside {
  width: 270px;
}

/*
common
*/
.panel {
  border: 1px solid #e1e1e1;
  border-top: 2px solid #999;
}

.panel .panel-title {
  border-bottom: 1px solid #e1e1e1;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding-left: 20px;
}

.panel .panel-body {
  padding: 10px;
}

/*
body
*/
.wrap-head {
  margin-bottom: 15px;
}

.wrap-head ul li {
  color: #666;
  cursor: pointer;
  font-size: 20px;
  float: left;
  height: 53px;
  overflow: hidden;
  text-align: center;
  width: 20%;
}

.wrap-head ul li div {
  height: 48px;
  line-height: 48px;
  position: relative;
}

.wrap-head ul li div span {
  padding: 0 6px;
}

.wrap-head ul li div i {
  border-top: 5px solid #27b446;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: none;
  height: 0;
  margin-left: -2px;
  width: 0;
  position: absolute;
  left: 50%;
  top: 48px;
}

.wrap-head ul li.cur div {
  background: #27b446;
  color: #fff;
}

.wrap-head ul li.cur div i {
  display: block;
}

.wrap-head ul li:hover {
  color: #ee4433;
}

.wrap-con {
  overflow: hidden;
  position: relative;
}

.cons {
  position: absolute;
  width: 100%;
}

.cons .panel {
  margin-bottom: 30px;
}

.cons .panel .panel-title {
  color: #27b446;
  font-weight: 700;
  padding-left: 43px;
}

.cons .panel .panel-title span {
  font-weight: normal;
  padding: 0 6px;
}

.cons .panel .panel-body {
  padding: 0 30px 0 55px;
}

.cons .panel .panel-body dl {
  color: #666;
  font-size: 14px;
  margin-top: 26px;
  margin-bottom: 10px;
  padding-left: 100px;
  position: relative;
  min-height: 35px;
}

.cons .panel .panel-body dl dt {
  border-right: 2px solid #27b446;
  height: 20px;
  line-height: 20px;
  width: 93px;
  position: absolute;
  left: 0;
  top: 2px;
}

.cons .panel .panel-body dl a {
  color: #666;
}

.cons .panel .panel-body dl a:hover {
  color: #ee4433;
}

.cons .panel .panel-body dl dd a {
  display: inline-block;
  line-height: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
}

/*
aside
*/
/*
top-recommend
*/
.top-recommend .panel-body {
  padding: 20px 27px 0;
}

.top-recommend .panel-body ul li {
  font-size: 12px;
  float: left;
  margin-bottom: 20px;
  width: 49%;
}

.top-recommend .panel-body ul li a {
  color: #999;
}

.top-recommend .panel-body ul li:nth-child(2n) {
  text-indent: 25px;
}

/*# sourceMappingURL=webmap.css.map */
