{% extends 'HouseBundle::base_manage_block.html.twig' %}
{% block js %}

{% endblock %}

{% block mainMenu %}
    {{ parent() }} 
{% endblock %}

{% block tableMain %}
    {# {{action}} #}

<section class="list-con table-inline"  data-param="{
        fixed     : '.filter',
        list      : '.list-con',
        defUrl    : '{{ ("muserupgrade/muserupgradelist")|U }}'
    }">
  
    <div class="list">
    {{ core_manage.form_cfg(form|default(''), action) }}
    </div>
</section>
{% endblock tableMain %}

{% block promptUl %}{% endblock %}
