{% import "CoreBundle:Macro:global.html.twig" as core_global %}
<div class="mindex">
<div class="m-wrap">
    <div class="info-head">
        <div class="in-h-box ">
            <div class="in-h-box-w cl-1">
                <div class="in-h-box-title">
                    <h2>新建</h2>
                    <span>425</span>
                </div>
                <div class="in-h-box-text">
                    <p>指给你的：<span>3</span></p>
                    <p>你提交的：<span>2453</span></p>
                    <p>你跟踪的：<span>1343</span></p>
                </div>   
            </div>
            
        </div>

        <div class="in-h-box ">
            <div class="in-h-box-w cl-2">
                <div class="in-h-box-title">
                    <h2>进行中</h2>
                    <span>425</span>
                </div>
                <div class="in-h-box-text">
                    <p>指给你的：<span>3</span></p>
                    <p>你提交的：<span>2453</span></p>
                    <p>你跟踪的：<span>1343</span></p>
                </div>   
            </div>
            
        </div>

         <div class="in-h-box ">
            <div class="in-h-box-w cl-3">
                <div class="in-h-box-title">
                    <h2>已解决</h2>
                    <span>425</span>
                </div>
                <div class="in-h-box-text">
                    <p>指给你的：<span>3</span></p>
                    <p>你提交的：<span>2453</span></p>
                    <p>你跟踪的：<span>1343</span></p>
                </div>   
            </div>
            
        </div>


         <div class="in-h-box ">
            <div class="in-h-box-w cl-4">
                <div class="in-h-box-title">
                    <h2>放弃</h2>
                    <span>425</span>
                </div>
                <div class="in-h-box-text">
                    <p>指给你的：<span>3</span></p>
                    <p>你提交的：<span>2453</span></p>
                    <p>你跟踪的：<span>1343</span></p>
                </div>   
            </div>  
        </div>
    </div>
    <div class="info-middle">
        <div class="in-m-box same-box">
            <div class="info-same">
                <div class="same-title">
                    <h2>系统崩溃</h2>
                    <a href="#" target="_blank"><i class="font-mindex-1 ico"></i></a>
                </div> 
                <div class="in-m-box-info">
                    <div class="img">
                        <img src="{{- core_global.img_url({src: 'images/table.jpg'}) -}}"  alt="">
                    </div>
                    <p>
                        <span>02-15</span>
                        <span>02-16</span>
                        <span>02-17</span>
                        <span>02-18</span>
                        <span class="last">02-19</span>
                    </p>
                </div> 
            </div>   
        </div>

        <div class="in-m-box same-box">
            <div class="info-same">
                 <div class="same-title">
                    <h2>最近指派给你的</h2>
                    <a href="#" target="_blank"><i class="font-mindex-1 ico"></i></a>
                </div>
                <div class="in-m-box-text">
                    <p>自定义版本编号，同时上传内容</p>
                    <p>自定义版本编号，同时上传内容</p>
                    <p>自定义版本编号，同时上传内容</p>
                    <p>自定义版本编号，同时上传内容</p>
                    <p>自定义版本编号，同时上传内容</p>
                    <p class="nobord">自定义版本编号，同时上传内容</p>
                </div>
            </div>
           
        </div>
    </div>

    <div class="info-foot">
        <div class="in-f-box same-box">
            <div class="info-same">
                <div class="same-title">
                    <h2>系统崩溃</h2>
                    <a href="#" target="_blank"><i class="font-mindex-1 ico"></i></a>
                </div>
                <div class="in-f-box-info">
                    <p>应用名称：<span></span></p>
                    <p>应用类型：<span></span></p>
                    <p>创建时间：<span></span></p>
                    <p>App Key：<span></span></p>
                    <p>应用成员：
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </p>
                </div>  
            </div>    
        </div>

        <div class="in-f-box same-box">
            <div class="info-same">
                <div class="same-title">
                    <h2>操作记录</h2>
                    <a href="#" target="_blank"><i class="font-mindex-1 ico"></i></a>
                </div> 
                <ul class="in-f-box-record">
                    <li>
                        <div class="clear">
                            <span class="tip">修改状态:</span>
                            <p class="state">
                               新建 →<span class="su">
                                   已解决
                               </span>,
                            </p>
                            <p>这里字体太大</p> 
                        </div>
                        <span class="time">
                                今天 11:30
                            </span>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
</div>

</div>