.ask-list {
	.ask-title {
	    font-size: 18px;
	}
	.ask-answer {
		color: #f60 ;
	}
}

.ask-nav {
    position: fixed;
    bottom: 0;
    z-index: 20;
    height: 2rem;
    width: 100%;
    background: #fff;

    a {
        border-radius: 0;
    }
}

.bars {
	padding: 0 .5rem;
	background: #fff;
	input {
		border:0;
	}
}

// --------问答详情页(与在线提问共用)-------------
.question {
	background: #fff;
	padding:.5rem;
	font-size: 16px;

	input {
		text-indent: 10px;
		margin: .5rem 0;
		outline: none;
		width: 100%;
		height: 2rem;
		border: 1px solid #ff9932;
	}

	select {
		overflow-y: hidden;
		outline: none;
		width: 100%;
		border: 1px solid #ff9932;
	}

	option {
		
		text-align: center;
	}
	p {
		
		padding-top: 15px;
	}
}

.currency {
	color: #f60;

	i {
		margin-top: 3px;
	}
}

.info {
	font-size: 13px;
	color: #999;
}

.answers {
	font-size: 14px;
	overflow-y: hidden;
}

.answer-item {
	background: #fff;
	padding:.5rem;
	border-top: 1px solid #ccc;
	// margin-bottom: .5rem;
	.optimum {
        position: absolute;
        top: .6rem;
        right: 0;
    }
	.item-title {
		padding-bottom: .5rem;

		.item-img {
			float: left;
		}

		.item-text {
			font-size: .53333rem;
			margin-left: 45px;
			line-height: 1.4;

		// 这个不知道为什么官方的样式显示不了，只好再写一遍
		.button-sm {
		    line-height: .66667rem;
		    height: .75556rem;
		    padding: 0 .17778rem;
		    border-radius: .11111rem;
		}

		   span {
		   	display: inline-block;
		   }
		}
	}
	.answer-con {
		margin: 10px 0;
		color: #7a7a7a;
		text-indent: .5rem;
	}
}

.submit {
	width: 100%;
}

// 分类
.bar-header-secondary {
	.ask-filter {
		font-size: .62222rem !important;
		padding: 0 !important;
		border-color: #dcdcdc;
		margin-top: 13px !important;
		overflow: hidden;
		height: 1.35rem !important;
		line-height: 1.35rem;
		a {
			color: #5f646e;
		}
	}
}

.modal-text {
	.ask-filter {
		border-color: #dcdcdc;
		a {
			color: #5f646e !important;
		}
	}
}
// 底部菜单
.bar-tools {
    .answer {
        line-height: 2.66667rem;

        height: 100%;

        text-align: center;

        background: #238dfd;

        flex: 1;
        .icon {
            line-height: 2.667rem;

            display: inline-block;

            margin-right: 2px;
            padding: 0;
        }
    }    
    .collect {
        background: #009835;
    }
    .report {
        background: red;
    }
    .collect,
    .report {
        span:nth-of-type(2) {
            display: block;
            margin-top: -1rem;
        }
    }
    .huida {
        font-size: .9rem;
    }
    a {
        margin-left: 0;
    
        border-left: 1px solid #b3abab;
    }
}
// 悬赏额
.currency {
    i {
        margin-top: -3px;
    }    
}