{% extends 'HouseBundle:Msale:msalemanage.html.twig' %}
{% block mainMenu %}
	
{% endblock mainMenu %}	
{% block promptUl %}
{% set groupname = ('db.mem_group')|getOne('name',{id: app.user.groupid}) %}
{% set rentdrenum = ('house.userconfig')|getOne('rentdrenum',{ role: app.user.groupid }) %}    
当前为{{ groupname }}, 每天可发布<span class="fcr">{{ rentdrenum }}</span>条房源信息
{% if app.user.usertype == 11 %}
<a href="#/default/435/1" class="fcr" data-target="#rleft">升级经纪人</a>发布更多房源  
{% elseif app.user.usertype == 15 %}
<a href="#/default/577" class="fcr" data-target="#rleft">升级高级经纪人</a>发布更多房源, 赠送免费置顶和免费刷新 
{% endif %}
{% endblock %}