{% extends "AutoBundle::mainlayout.html.twig" %}
{% block js %}

{% endblock %}
{% block mainMenu %}
    {{ parent() }}
{% endblock %}

{% block tableMain %}
<section class="list-con">
    设置
    设置
    设置
    设置
    设置
</section>
{% endblock %}
{% block submit %}{% endblock %}
{% block promptUl %}
    <li></li>
{% endblock %}