/*!
 * @name jump
 * @author author
 * @date 2017-03-13 10:31:09
 */
.img-ju-1,
.img-ju-2,
.img-ju-3,
.img-ju-4,
.img-ju-5,
.img-ju-6,
.img-ju-7,
.img-ju-8,
.img-ju-9 {
    line-height: 300px;

    display: inline-block;
    overflow: hidden;

    vertical-align: middle;

    background-image: url(../images/ju.png); 

    *zoom: 1;
    *display: inline;
}

.img-ju-1 {
    width: 206px;
    height: 68px;

    background-position: 0 0;
}

.img-ju-2 {
    width: 39px;
    height: 44px;

    background-position: 0 -78px;
}

.img-ju-3 {
    width: 39px;
    height: 44px;

    background-position: -49px -78px;
}

.img-ju-4 {
    width: 39px;
    height: 44px;

    background-position: -98px -78px;
}

.img-ju-5 {
    width: 39px;
    height: 44px;

    background-position: -147px -78px;
}

.img-ju-6 {
    width: 39px;
    height: 44px;

    background-position: 0 -132px;
}

.img-ju-7 {
    width: 39px;
    height: 44px;

    background-position: -49px -132px;
}

.img-ju-8 {
    width: 39px;
    height: 44px;

    background-position: -98px -132px;
}

.img-ju-9 {
    width: 21px;
    height: 21px;

    background-position: -147px -132px;
}

* {
    margin: 0;
    padding: 0;
}

.jump html,
.jump body {
    height: 100%;
}

.jump .container {
    position: relative; 

    width: 1200px;
    height: 560px;
    margin: 0 auto;

    background: url(../images/jump-bg.png) 0 0 no-repeat;
}

.jump .tip {
    font-size: 18px;
    line-height: 70px;

    position: absolute;
    top: 100px;
    left: 295px;

    width: 206px;
    height: 70px;

    text-align: center;

    color: #2c2c2c;
}

.jump .main,
.jump .main2,
.jump .main3,
.jump .main4 {
    position: absolute;
    top: 170px;
    left: 513px;

    width: 320px;
}

.jump .title h3 {
    line-height: 43px;
}

.jump .title i {
    display: inline-block;

    width: 40px;
    height: 44px;
    margin-left: 7px;

    vertical-align: middle;
}

.jump .title span {
    font-size: 18px;

    margin-left: 4px; 

    color: #898989;
}

.jump .title p {
    font-size: 14px;
    line-height: 1.5;

    margin-bottom: 20px; 
    padding-left: 55px;

    color: #8c8c8c;
}

.jump .title b {
    font-weight: normal;

    color: #f30;
}

.jump .btns {
    font-size: 0;

    width: 100%;
}
.jump .btns a {
    font-size: 14px;
    line-height: 30px;

    display: inline-block;

    width: 80px;
    height: 28px;
    margin-right: 19px;

    text-align: center;
    text-decoration: none; 

    color: #545454;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: url(../images/btn-bg.png) 0 0 repeat-x;
}
.jump .btns a:hover {
    text-decoration: none;

    background: url(../images/btn-bg2.png) 0 0 repeat-x;
}
.jump .btns .last {
    margin-right: 0;
}

.jump .main2 .btns,
.jump .main3 .btns,
.jump .main4 .btns {
    font-size: 0;

    width: 100%;
}
.jump .main2 .btns a,
.jump .main3 .btns a,
.jump .main4 .btns a {
    font-size: 13px;
    line-height: 30px;

    display: inline-block;

    width: auto;
    height: 28px;
    margin-right: 0;
    margin-left: 19px;
    padding: 0 15px 0 13px;

    text-align: center;

    color: #545454;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: url(../images/btn-bg.png) 0 0 repeat-x;
}
.jump .main2 .btns a:hover,
.jump .main3 .btns a:hover,
.jump .main4 .btns a:hover {
    text-decoration: none;

    background: url(../images/btn-bg2.png) 0 0 repeat-x;
}
.jump .main2 .btns .first,
.jump .main3 .btns .first,
.jump .main4 .btns .first {
    margin-left: 17px;
}
.jump .main2 .btns .fst,
.jump .main3 .btns .fst,
.jump .main4 .btns .fst {
    margin-left: 55px;
}
.jump .main2 .btns .efst,
.jump .main3 .btns .efst,
.jump .main4 .btns .efst {
    margin-left: -12px;
}

.jump .main4 .btns {
    margin-top: 50px;
}

.jump .mark {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .3);
}

.jump .Popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 500px;
    height: 376px;
    margin: auto;

    -webkit-border-radius: 3px;

       -moz-border-radius: 3px;

            border-radius: 3px;
    background: #fff url(../images/po-bg.png) 0 0 no-repeat;
}

.jump .po-header {
    margin-top: 18px;
}
.jump .po-header h2 {
    font-size: 18px;
    line-height: 1; 

    float: left;

    margin-left: 49px;

    color: #2c2c2c;
}
.jump .po-header i {
    float: right;

    width: 20px;
    height: 20px;
    margin-right: 19px; 

    cursor: pointer;
}

.jump .po-title {
    margin-top: 43px;
}
.jump .po-title h3 {
    line-height: 43px; 

    margin-left: 100px;
}
.jump .po-title i {
    display: inline-block;

    width: 40px;
    height: 44px;
    margin-left: 10px;

    vertical-align: middle;
}
.jump .po-title span {
    font-size: 14px;

    margin-left: 6px; 

    color: #898989;
}
.jump .po-title p {
    font-size: 12px;

    margin-bottom: 34px; 

    text-indent: 156px;

    color: #8c8c8c;
}
.jump .po-title b {
    font-weight: normal;

    color: #f30;
}

.jump .po-btns {
    font-size: 0;

    width: 100%;
}
.jump .po-btns a {
    font-size: 14px;
    line-height: 30px;

    display: inline-block;

    width: auto;
    height: 28px;
    margin-right: 0;
    margin-left: 19px;
    padding: 0 13px 0 12px;

    text-align: center;

    color: #545454;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: url(../images/btn-bg.png) 0 0 repeat-x;
}
.jump .po-btns a:hover {
    text-decoration: none;

    background: url(../images/btn-bg2.png) 0 0 repeat-x;
}
.jump .po-btns .fst {
    margin-left: 156px;
}

/*# sourceMappingURL=..\..\src\css\jump.css.map */
