{#免费通话#}
<style>
    .house_activity{border:1px solid #EFEFEF;padding:25px 14px 25px;margin:20px 0;}
    .tel_{font-size:24px;font-weight:bold;color:rgba(255,132,0,1);margin-bottom:10px;}
    .tel_remark{font-size:12px;color:rgba(153,153,153,1);line-height:16px;margin-bottom:12px;}
    .free_btn{width:115px;height:38px;background:linear-gradient(135deg,rgba(255,132,0,1),rgba(255,65,0,1));
        border-radius:1px;font-size:16px;font-weight:bold;line-height:38px;color:#fff;text-align:center;display:block;}
    .free_btn:hover{color:#fff;}
</style>
<div class="house_activity">
    <p class="tel_">400 344 2345 转 456778</p>
    <p class="tel_remark">安居客为您加密手机号，私密连接售楼处</p>
    <a class="free_btn">免费通话</a>
</div>


