{#看房活动进行#}
<style>
    .house_activity{border:1px solid #EFEFEF;padding:20px 20px 30px;margin:20px 0;}
    .house_ed{width:100%;height:60px;background:linear-gradient(135deg,rgba(255,132,0,1),rgba(255,65,0,1));
        border-radius:2px;color:#ffffff;line-height:60px;font-size:18px;text-align:center;margin-bottom:38px;}
    .house_hd{font-size:14px;margin-right:8px;}
    .house_ing{font-size:24px;font-weight:bold;letter-spacing:1px;}
    .house_block{overflow:hidden;}
    .house_block>div{width:49.5%;font-size:14px;text-align:center;float:left;}
    .house_block>div:first-child{border-right:1px solid #eeeeee;}
    .house_num{font-size:26px;font-weight:bold;color:rgba(255,132,0,1);}
</style>
<div class="house_activity">
    <p class="house_ed"><i class="iconfont icon-huodong house_hd"></i>看房活动已进行<i class="house_ing">982</i>场</p>
    <div class="house_block">
        <div>
            <p class="house_num">489</p>
            <p>参与人数</p>
        </div>
        <div>
            <p class="house_num">13748</p>
            <p>意向人数</p>
        </div>
    </div>
</div>


