{% extends 'HouseBundle::base.html.twig' %}

{% block title %}下载提醒{% endblock title %}

{% block body %}
    <div style="height: 400px; line-height: 400px; text-align: center; color: #e43; font-size: 20px;" class="container">App 客户端即将上线，敬请期待</div>
{% endblock body %}
