{% extends 'HousemobileBundle::base_ajax.html.twig' %}

{% block result %}
    <div class="content">
        <form target="_self"  action="{{('mpayment/save')|UU}}" method="get" class="form">
            <input type="hidden" name="consume" value="4">    
            <input type="hidden" name="touid" value="{{app.user.id|default()}}"> 
            <input type="hidden" name="ctype" value="rmb">  
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">充值金额：</div>
                                <div class="item-input">
                                    <input type="text" name="total_fee" id="total_fee" data-msg-required="充值金额" required="required" class="text" placeholder="充值金额">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">
                                <label class="w150 rtd txtright required" base-data="Array" for="paytype">支付方式</label>
                            </div>
                            <div class="item-input item-input-flex">
                                <div class="select" data-select="paytype" id="paytype" data-msg-required="默认为微信支付"required="required">
                                    微信支付
                                </div>
                                <input type="hidden" id="paytype" name="paytype" value="1">
                                <span class="rico">
                                </span>
                                <div data-id="paytype" style="display:none;">
                                    <div class="list-block">
                                        <ul>
                                            <li>
                                                <label class="label-checkbox item-content"><input type="radio" value="1" name="paytype">
                                                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                                    <div class="item-inner">
                                                        <div class="item-title">微信支付</div>
                                                    </div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="label-checkbox item-content"><input type="radio" value="2" name="paytype">
                                                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                                    <div class="item-inner">
                                                        <div class="item-title">支付宝支付</div>
                                                    </div>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50">
                        <a href="javascript:;" class="button button-big button-fill button-danger close-popup">取消</a>
                    </div>
                    <div class="col-50">
                        <input type="submit" id="paysub" class="button button-big button-fill button-success" value="购买">
                    </div>
                </div>
            </div>
        </form> 
    </div>
<!-- /发布 -->
{% endblock result %}