{% extends app.request.get('ajax') ? 'HousemobileBundle:Clist:jjgs_list.html.twig' : 'HousemobileBundle::list_layout.html.twig' %}
{% block title %}
    经纪公司
{% endblock title %}

{% block header_title %}
{{core_mobile_global.title({title: '经纪公司'})}}
{% endblock header_title %}

{% block container %}
    {# 检索 #}
    {% set list_header %}
    <div class="filter" data-block="{
        ajax: {
            url: '{{ ('bundlebindforms/ajax')|U }}',
            data: {
                tpl: 'Common:filter',
                tag: 'region'
            }
        }
    }"></div>
    {% endset %}

    {# 列表链接 js调用列表需要 #}
    {% set list_url = ('member/list')|U({ajax: 1}) %}
    {{ parent() }}
{% endblock container %}